@charset "UTF-8";
/*!
Theme Name: domotell
Theme URI:
Author: Mironenko Alexandr
Author URI:
Description: Theme for Dometall
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: dometall
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/
.page-template-template-works {
  background-color: #fff;
}

.active section {
  display: flex !important;
  align-items: center;
}
.active section .container {
  opacity: 1 !important;
}
.active section .container section {
  flex-direction: column !important;
}

.page-template-template-success, .error404 {
  overflow-x: hidden;
}
.page-template-template-success header, .page-template-template-success footer, .error404 header, .error404 footer {
  display: none;
}
.page-template-template-success .section, .error404 .section {
  min-height: 100vh;
}
.page-template-template-success .section .fp-tableCell, .error404 .section .fp-tableCell {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-template-template-success .section .fp-tableCell .home-button, .page-template-template-success .section .fp-tableCell a, .error404 .section .fp-tableCell .home-button, .error404 .section .fp-tableCell a {
  display: flex;
  justify-content: center;
}

.main-head {
  /*background-image: url(../img/head.jpg);*/
  min-height: 100%;
}

#four_head {
  background-attachment: fixed;
  background-color: #272833;
  background-image: url(https://img.dometall.com.ua/banner3.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

.header-content {
  padding: 10% 0;
}

.mobile-hidden {
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.mobile-hidden img {
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 10px #444;
}

.header-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-content li {
  display: block;
  color: #000;
  text-transform: none;
}

.header-content li i {
  color: #4aba4a;
}

input[type=submit].special_head,
input[type=reset].special_head,
input[type=button].special_head,
.button.special_head {
  background-color: #4aba4a;
  box-shadow: none;
  text-decoration: none;
  font-weight: 300;
  color: #fff !important;
  transition: all 0.1s ease;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
  margin: 2em 0 0 0;
  box-shadow: 0 2px 0 green;
}

input[type=submit].special_head:hover,
input[type=reset].special_head:hover,
input[type=button].special_head:hover,
.button.special_head:hover {
  font-weight: 300;
  background-color: #32a332;
  color: #fff !important;
}

input[type=submit].special_head:active,
input[type=reset].special_head:active,
input[type=button].special_head:active,
.button.special_head:active {
  background-color: green;
}

/*Popup Button*/
input[type=submit].specialpopup,
input[type=reset].specialpopup,
input[type=button].specialpopup,
.button.specialpopup {
  background-color: #4aba4a;
  box-shadow: none;
  font-weight: 300;
  color: #fff !important;
  transition: all 0.1s ease;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
  box-shadow: 0 2px 0 green;
}

input[type=submit].specialpopup:hover,
input[type=reset].specialpopup:hover,
input[type=button].specialpopup:hover,
.button.specialpopup:hover {
  font-weight: 300;
  background-color: #32a332;
  color: #fff !important;
}

input[type=submit].specialpopup:active,
input[type=reset].specialpopup:active,
input[type=button].specialpopup:active,
.button.specialpopup:active {
  background-color: green;
}

.responsive-img {
  max-width: 100%;
}

.s-dark {
  padding: 50px 0 50px 0;
  background: rgba(42, 41, 52, 0.615);
  color: #ffffff;
}

/*.s-dark-item {
    margin-bottom: 3em;
}
*/
.s-dark-item p {
  font-size: 1em;
  color: #C4C8D3;
  line-height: 1.2em;
}

.s-dark-item h4 {
  font-size: 1.3em;
}

.s-dark-item span {
  font-size: 1.8em;
  color: #ea9525;
}

@media (min-width: 992px) {
  .header-phone {
    float: left;
    padding-left: 50px;
    display: block;
    color: #fff;
  }
}
@media (max-width: 991px) {
  .header-phone {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  .header-phone {
    display: none;
  }

  .header-content {
    padding: 2% 0;
  }

  .header-content ul {
    list-style-type: none;
    padding: 3.2em 0 0 0;
    margin: 0;
  }

  .header-content ul li {
    font-size: 1.5em;
    line-height: 2em;
  }

  .header-content a.button {
    margin: 1em;
  }

  .header-content h2 {
    font-size: 2.5em;
    line-height: 1.2em;
  }
}
#four_head .main-head .header-content .contact {
  margin-top: 45px;
  padding-left: 10px;
  font-family: "Roboto Condensed", sans-serif;
}

#four_head .main-head .header-content .contact a {
  text-decoration: none;
  font-weight: 300;
}

#four_head .main-head .header-content .contact p {
  color: #000;
  font-size: 1.2em;
  padding-left: 65px;
}

#four_head .main-head .header-content ul li {
  text-decoration: none;
  padding-bottom: 0.41em;
}

#four_head .main-head .header-content ul li a {
  text-decoration: none;
}

#four_head .main-head .header-content ul li a span {
  background-color: #4aba4a;
  padding: 0.1em;
  line-height: 0.8em;
}

#four_head .main-head .header-content ul li a span:hover {
  background-color: #32a332;
  transition: all 0.2s ease;
  font-weight: 300;
}

#four_head .main-head .header-content ul li a span:active {
  background-color: green;
  transition: all 0.2s ease;
}

#four_head .main-head .header-content .contact a span {
  background-color: #4aba4a;
  padding: 0.1em;
  font-size: 2.5em;
  line-height: 0.8em;
}

#four_head .main-head .header-content .contact a span:hover {
  background-color: #32a332;
  transition: all 0.2s ease;
}

#four_head .main-head .header-content .contact a span:active {
  background-color: green;
  transition: all 0.2s ease;
}

@media only screen and (max-width: 980px) {
  #four_head .main-head .container .row .header-content {
    padding-top: 2em;
  }

  #four_head .main-head .container .row .header-content h1 {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  #four_head .main-head .container .row .header-content {
    padding-top: 0em;
  }

  #four_head .main-head .header-content .contact {
    text-align: center;
    color: #000;
    font-size: 1.2em;
  }

  #four_head .main-head .header-content .contact p {
    padding: 0.5em 0em 0em 0em;
  }

  #four_head .main-head .header-content ul li .fa-check {
    color: #57bb4b;
  }

  #four_head .main-head .header-content ul li {
    text-decoration: none;
    padding-bottom: 1.3em;
    text-align: left;
    line-height: 1.5em;
  }

  #one .content h2 {
    text-align: left;
  }

  #one .content .container .rows header h3 {
    text-align: left;
    font-size: 1em;
  }

  #one .content .container .rows p {
    text-align: left;
    font-size: 1em;
  }
}
@media only screen and (max-width: 480px) {
  #four_head .main-head .header-content .contact {
    text-align: center;
    color: #000;
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 320px) {
  #four_head .main-head .header-content .contact {
    text-align: left;
    color: #000;
    padding: 0em;
  }
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  /* width: 100%;*/
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }

  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.da-slider {
  width: 100%;
  min-width: 520px;
  height: 500px;
  position: relative;
  margin: 30px auto;
  overflow: hidden;
  -webkit-transition: background-position 1s ease-out 0.3s;
  -moz-transition: background-position 1s ease-out 0.3s;
  -o-transition: background-position 1s ease-out 0.3s;
  -ms-transition: background-position 1s ease-out 0.3s;
  transition: background-position 1s ease-out 0.3s;
}

.da-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: left;
}

.da-slide-current {
  z-index: 1000;
}

.da-slider-fb .da-slide {
  left: 100%;
}

.da-slider-fb .da-slide.da-slide-current {
  left: 0px;
}

.da-slide h2,
.da-slide p,
.da-slide .da-link,
.da-slide .da-img {
  position: absolute;
  opacity: 0;
  left: 110%;
}

.da-slider-fb .da-slide h2,
.da-slider-fb .da-slide p,
.da-slider-fb .da-slide .da-link {
  left: 10%;
  opacity: 1;
}

.da-slider-fb .da-slide .da-img {
  left: 60%;
  opacity: 1;
}

.da-slide h2 {
  width: 50%;
  top: 25px;
  white-space: nowrap;
  z-index: 10;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.da-slide p {
  width: 45%;
  top: 165px;
  overflow: hidden;
}

.da-slide .da-img {
  text-align: center;
  width: 30%;
  top: 70px;
  line-height: 320px;
  left: 110%;
  /*60%*/
}

.da-slide .da-link {
  top: 290px;
  /*Зависит от высоты p */
  border-radius: 30px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border: 8px solid rgba(255, 255, 255, 0.8);
  padding: 2px 20px 0px;
  font-size: 18px;
  line-height: 30px;
  width: 100px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
}

.da-slide .da-link:hover {
  background: rgba(255, 255, 255, 0.3);
}

.da-arrows {
  -moz-user-select: none;
  -webkit-user-select: none;
}

.da-arrows span {
  position: absolute;
  top: 50%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #e4b42d;
  cursor: pointer;
  z-index: 2000;
  opacity: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset, 1px 1px 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: opacity 0.4s ease-in-out-out 0.2s;
  -moz-transition: opacity 0.4s ease-in-out-out 0.2s;
  -o-transition: opacity 0.4s ease-in-out-out 0.2s;
  -ms-transition: opacity 0.4s ease-in-out-out 0.2s;
  transition: opacity 0.4s ease-in-out-out 0.2s;
}

.da-slider:hover .da-arrows span {
  opacity: 1;
}

.da-arrows span:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 5px;
  background: transparent url(../images/arrows.png) no-repeat top left;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.da-arrows span:hover:after {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.da-arrows span:active:after {
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}

.da-arrows span.da-arrows-next:after {
  background-position: top right;
}

.da-arrows span.da-arrows-prev {
  left: 15px;
}

.da-arrows span.da-arrows-next {
  right: 15px;
}

.da-slide-current h2,
.da-slide-current p,
.da-slide-current .da-link {
  left: 10%;
  opacity: 1;
}

.da-slide-current .da-img {
  left: 60%;
  opacity: 1;
}

/* Классы анимации и сами анимации */
/* Выскальзывание слева */
.da-slide-fromright h2 {
  -webkit-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
  -moz-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
  -o-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
  -ms-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
  animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
}

.da-slide-fromright p {
  -webkit-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
  -moz-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
  -o-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
  -ms-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
  animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
}

.da-slide-fromright .da-link {
  -webkit-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
  -moz-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
  -o-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
  -ms-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
  animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
}

.da-slide-fromright .da-img {
  -webkit-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
  -moz-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
  -o-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
  -ms-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
  animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
}

@-webkit-keyframes fromRightAnim1 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-webkit-keyframes fromRightAnim2 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-webkit-keyframes fromRightAnim3 {
  0% {
    left: 110%;
    opacity: 0;
  }
  1% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-webkit-keyframes fromRightAnim4 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 60%;
    opacity: 1;
  }
}
@-moz-keyframes fromRightAnim1 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-moz-keyframes fromRightAnim2 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-moz-keyframes fromRightAnim3 {
  0% {
    left: 110%;
    opacity: 0;
  }
  1% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-moz-keyframes fromRightAnim4 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 60%;
    opacity: 1;
  }
}
@-o-keyframes fromRightAnim1 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-o-keyframes fromRightAnim2 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-o-keyframes fromRightAnim3 {
  0% {
    left: 110%;
    opacity: 0;
  }
  1% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-o-keyframes fromRightAnim4 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 60%;
    opacity: 1;
  }
}
@-ms-keyframes fromRightAnim1 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-ms-keyframes fromRightAnim2 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-ms-keyframes fromRightAnim3 {
  0% {
    left: 110%;
    opacity: 0;
  }
  1% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-ms-keyframes fromRightAnim4 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 60%;
    opacity: 1;
  }
}
@keyframes fromRightAnim1 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@keyframes fromRightAnim2 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@keyframes fromRightAnim3 {
  0% {
    left: 110%;
    opacity: 0;
  }
  1% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@keyframes fromRightAnim4 {
  0% {
    left: 110%;
    opacity: 0;
  }
  100% {
    left: 60%;
    opacity: 1;
  }
}
/* Выскальзывание справа */
.da-slide-fromleft h2 {
  -webkit-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
  -moz-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
  -o-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
  -ms-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
  animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
}

.da-slide-fromleft p {
  -webkit-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
  -moz-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
  -o-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
  -ms-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
  animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
}

.da-slide-fromleft .da-link {
  -webkit-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
  -moz-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
  -o-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
  -ms-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
  animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
}

.da-slide-fromleft .da-img {
  -webkit-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
  -moz-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
  -o-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
  -ms-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
  animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
}

@-webkit-keyframes fromLeftAnim1 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-webkit-keyframes fromLeftAnim2 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-webkit-keyframes fromLeftAnim3 {
  0% {
    left: -110%;
    opacity: 0;
  }
  1% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-webkit-keyframes fromLeftAnim4 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 60%;
    opacity: 1;
  }
}
@-moz-keyframes fromLeftAnim1 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-moz-keyframes fromLeftAnim2 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-moz-keyframes fromLeftAnim3 {
  0% {
    left: -110%;
    opacity: 0;
  }
  1% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-moz-keyframes fromLeftAnim4 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 60%;
    opacity: 1;
  }
}
@-o-keyframes fromLeftAnim1 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-o-keyframes fromLeftAnim2 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-o-keyframes fromLeftAnim3 {
  0% {
    left: -110%;
    opacity: 0;
  }
  1% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-o-keyframes fromLeftAnim4 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 60%;
    opacity: 1;
  }
}
@-ms-keyframes fromLeftAnim1 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-ms-keyframes fromLeftAnim2 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-ms-keyframes fromLeftAnim3 {
  0% {
    left: -110%;
    opacity: 0;
  }
  1% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@-ms-keyframes fromLeftAnim4 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 60%;
    opacity: 1;
  }
}
@keyframes fromLeftAnim1 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@keyframes fromLeftAnim2 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@keyframes fromLeftAnim3 {
  0% {
    left: -110%;
    opacity: 0;
  }
  1% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 10%;
    opacity: 1;
  }
}
@keyframes fromLeftAnim4 {
  0% {
    left: -110%;
    opacity: 0;
  }
  100% {
    left: 60%;
    opacity: 1;
  }
}
/* Плавный уход вправо */
.da-slide-toright h2 {
  -webkit-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
  -moz-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
  -o-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
  -ms-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
  animation: toRightAnim1 0.6s ease-in-out 0.6s both;
}

.da-slide-toright p {
  -webkit-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
  -moz-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
  -o-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
  -ms-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
  animation: toRightAnim2 0.6s ease-in-out 0.3s both;
}

.da-slide-toright .da-link {
  -webkit-animation: toRightAnim3 0.4s ease-in-out both;
  -moz-animation: toRightAnim3 0.4s ease-in-out both;
  -o-animation: toRightAnim3 0.4s ease-in-out both;
  -ms-animation: toRightAnim3 0.4s ease-in-out both;
  animation: toRightAnim3 0.4s ease-in-out both;
}

.da-slide-toright .da-img {
  -webkit-animation: toRightAnim4 0.6s ease-in-out both;
  -moz-animation: toRightAnim4 0.6s ease-in-out both;
  -o-animation: toRightAnim4 0.6s ease-in-out both;
  -ms-animation: toRightAnim4 0.6s ease-in-out both;
  animation: toRightAnim4 0.6s ease-in-out both;
}

@-webkit-keyframes toRightAnim1 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-webkit-keyframes toRightAnim2 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-webkit-keyframes toRightAnim3 {
  0% {
    left: 10%;
    opacity: 1;
  }
  99% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-webkit-keyframes toRightAnim4 {
  0% {
    left: 60%;
    opacity: 1;
  }
  30% {
    left: 55%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-moz-keyframes toRightAnim1 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-moz-keyframes toRightAnim2 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-moz-keyframes toRightAnim3 {
  0% {
    left: 10%;
    opacity: 1;
  }
  99% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-moz-keyframes toRightAnim4 {
  0% {
    left: 60%;
    opacity: 1;
  }
  30% {
    left: 55%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-o-keyframes toRightAnim1 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-o-keyframes toRightAnim2 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-o-keyframes toRightAnim3 {
  0% {
    left: 10%;
    opacity: 1;
  }
  99% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-o-keyframes toRightAnim4 {
  0% {
    left: 60%;
    opacity: 1;
  }
  30% {
    left: 55%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-ms-keyframes toRightAnim1 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-ms-keyframes toRightAnim2 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-ms-keyframes toRightAnim3 {
  0% {
    left: 10%;
    opacity: 1;
  }
  99% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-ms-keyframes toRightAnim4 {
  0% {
    left: 60%;
    opacity: 1;
  }
  30% {
    left: 55%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@keyframes toRightAnim1 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@keyframes toRightAnim2 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@keyframes toRightAnim3 {
  0% {
    left: 10%;
    opacity: 1;
  }
  99% {
    left: 10%;
    opacity: 0;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@keyframes toRightAnim4 {
  0% {
    left: 60%;
    opacity: 1;
  }
  30% {
    left: 55%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
/* Плавный уход влево */
.da-slide-toleft h2 {
  -webkit-animation: toLeftAnim1 0.6s ease-in-out both;
  -moz-animation: toLeftAnim1 0.6s ease-in-out both;
  -o-animation: toLeftAnim1 0.6s ease-in-out both;
  -ms-animation: toLeftAnim1 0.6s ease-in-out both;
  animation: toLeftAnim1 0.6s ease-in-out both;
}

.da-slide-toleft p {
  -webkit-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
  -moz-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
  -o-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
  -ms-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
  animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
}

.da-slide-toleft .da-link {
  -webkit-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
  -moz-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
  -o-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
  -ms-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
  animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
}

.da-slide-toleft .da-img {
  -webkit-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
  -moz-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
  -o-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
  -ms-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
  animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
}

@-webkit-keyframes toLeftAnim1 {
  0% {
    left: 10%;
    opacity: 1;
  }
  30% {
    left: 15%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-webkit-keyframes toLeftAnim2 {
  0% {
    left: 10%;
    opacity: 1;
  }
  30% {
    left: 15%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-webkit-keyframes toLeftAnim3 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-webkit-keyframes toLeftAnim4 {
  0% {
    left: 60%;
    opacity: 1;
  }
  70% {
    left: 30%;
    opacity: 0;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-moz-keyframes toLeftAnim1 {
  0% {
    left: 10%;
    opacity: 1;
  }
  30% {
    left: 15%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-moz-keyframes toLeftAnim2 {
  0% {
    left: 10%;
    opacity: 1;
  }
  30% {
    left: 15%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-moz-keyframes toLeftAnim3 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-moz-keyframes toLeftAnim4 {
  0% {
    left: 60%;
    opacity: 1;
  }
  70% {
    left: 30%;
    opacity: 0;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-o-keyframes toLeftAnim1 {
  0% {
    left: 10%;
    opacity: 1;
  }
  30% {
    left: 15%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-o-keyframes toLeftAnim2 {
  0% {
    left: 10%;
    opacity: 1;
  }
  30% {
    left: 15%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-o-keyframes toLeftAnim3 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-o-keyframes toLeftAnim4 {
  0% {
    left: 60%;
    opacity: 1;
  }
  70% {
    left: 30%;
    opacity: 0;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-ms-keyframes toLeftAnim1 {
  0% {
    left: 10%;
    opacity: 1;
  }
  30% {
    left: 15%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-ms-keyframes toLeftAnim2 {
  0% {
    left: 10%;
    opacity: 1;
  }
  30% {
    left: 15%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-ms-keyframes toLeftAnim3 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@-ms-keyframes toLeftAnim4 {
  0% {
    left: 60%;
    opacity: 1;
  }
  70% {
    left: 30%;
    opacity: 0;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@keyframes toLeftAnim1 {
  0% {
    left: 10%;
    opacity: 1;
  }
  30% {
    left: 15%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@keyframes toLeftAnim2 {
  0% {
    left: 10%;
    opacity: 1;
  }
  30% {
    left: 15%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@keyframes toLeftAnim3 {
  0% {
    left: 10%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@keyframes toLeftAnim4 {
  0% {
    left: 60%;
    opacity: 1;
  }
  70% {
    left: 30%;
    opacity: 0;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
@media screen and (max-width: 480px) {
  #six .container #da-slider .da-slide .da-img {
    text-align: left;
    left: 30%;
    line-height: 0;
  }

  #six .container #da-slider .da-slide h2 {
    font-size: 1.5em;
  }

  #six .container #da-slider .da-slide p {
    text-align: left;
    font-size: 0.78em;
    width: 35%;
  }
}
.header-phones {
  display: flex;
  align-items: center;
}
.header-phones ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 20px;
}
.header-phones ul li {
  font-size: 100%;
  font: inherit;
  line-height: 1;
  padding: 0;
  margin-bottom: 10px;
  /* vertical-align: baseline; */
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
}
.header-phones ul li:last-child {
  margin-bottom: 0;
}
.header-phones a {
  padding: 10px 34px 10px 34px;
  line-height: 20px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  border: 1px solid #f4f4f5;
  border-radius: 5px;
  margin-left: 12px;
  color: #fff;
}
.header-phones a:hover, .header-phones a:focus {
  text-transform: none;
}

@media (max-width: 767px) {
  .mobile-design {
    width: 100%;
    height: auto;
    background-attachment: unset !important;
  }
}
@media (max-width: 767px) {
  .page-template-template-about .new-style {
    margin-top: 50px;
  }
}

.map-full {
  height: calc(100% - 53px);
  padding-top: 61px;
}

/*# sourceMappingURL=style.css.map */
