/*!
Theme Name: domotell
Theme URI:
Author: Mironenko Alexandr
Author URI:
Description: Theme for Dometall
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: dometall
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/

.page-template-template-works {
  background-color: #fff;
}

.active {
  section {
    display: flex !important;
    align-items: center;

    .container {
      opacity: 1 !important;

      section {
        flex-direction: column !important;
      }
    }
  }
}

.page-template-template-success, .error404 {
  overflow-x: hidden;

  header, footer {
    display: none;
  }

  .section {
    min-height: 100vh;

    .fp-tableCell {
      height: 100%;
      display: flex;

      flex-direction: column;
      align-items: center;
      justify-content: center;

      .home-button, a {
        display: flex;
        justify-content: center;
      }
    }
  }
}


@import "style/head";
@import "style/add_contact";
@import "style/magnific-popup";
@import "style/slider";

.header-phones {
  display: flex;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 20px;

    li {
      font-size: 100%;
      font: inherit;
      line-height: 1;
      padding: 0;
      margin-bottom: 10px;
      /* vertical-align: baseline; */
      font-family: 'Roboto Condensed', sans-serif;
      color: #fff;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  a {
    padding: 10px 34px 10px 34px;
    line-height: 20px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    border: 1px solid rgb(244, 244, 245);
    border-radius: 5px;
    margin-left: 12px;
    color: #fff;

    &:hover, &:focus {
      text-transform: none;
    }
  }
}

@media (max-width: 767px) {
  .mobile-design {
    width: 100%;
    height: auto;
    background-attachment: unset!important;
  }
}

.page-template-template-about {
  .new-style {
    @media (max-width: 767px) {
      margin-top: 50px;
    }
  }
}


.map-full{
  height: calc(100% - 53px);
  padding-top: 61px;
}

