.main-head {
	/*background-image: url(../img/head.jpg);*/
	min-height: 100%;
}

#four_head {
	background-attachment: fixed;
	background-color: #272833;
	background-image: url(https://img.dometall.com.ua/banner3.jpg);
	background-position: center center;
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
}

.header-content {
	padding: 10% 0;
}

.mobile-hidden {
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.mobile-hidden img {
	width: 100%;
	height: 100%;
	box-shadow: 1px 1px 10px #444;
}

.header-content ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.header-content li {
	display: block;
	color: #000;
	text-transform: none;
}

.header-content li i {
	color: #4aba4a;
}

input[type="submit"].special_head,
input[type="reset"].special_head,
input[type="button"].special_head,
.button.special_head {
	background-color: #4aba4a;
	box-shadow: none;
	text-decoration: none;
	font-weight: 300;
	color: #fff !important;
	transition: all .1s ease;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
	margin: 2em 0 0 0;
	box-shadow: 0 2px 0 green;
}

input[type="submit"].special_head:hover,
input[type="reset"].special_head:hover,
input[type="button"].special_head:hover,
.button.special_head:hover {
	font-weight: 300;
	background-color: #32a332;
	color: #fff !important;
}

input[type="submit"].special_head:active,
input[type="reset"].special_head:active,
input[type="button"].special_head:active,
.button.special_head:active {
	background-color: green;
}

/*Popup Button*/
input[type="submit"].specialpopup,
input[type="reset"].specialpopup,
input[type="button"].specialpopup,
.button.specialpopup {
	background-color: #4aba4a;
	box-shadow: none;
	font-weight: 300;
	color: #fff !important;
	transition: all .1s ease;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
	box-shadow: 0 2px 0 green;
}

input[type="submit"].specialpopup:hover,
input[type="reset"].specialpopup:hover,
input[type="button"].specialpopup:hover,
.button.specialpopup:hover {
	font-weight: 300;
	background-color: #32a332;
	color: #fff !important;
}

input[type="submit"].specialpopup:active,
input[type="reset"].specialpopup:active,
input[type="button"].specialpopup:active,
.button.specialpopup:active {
	background-color: green;
}

.responsive-img {
	max-width: 100%;
}

.s-dark {
	padding: 50px 0 50px 0;
	background: rgba(42, 41, 52, 0.615);
	color: #ffffff;
}

/*.s-dark-item {
    margin-bottom: 3em;
}
*/
.s-dark-item p {
	font-size: 1em;
	color: #C4C8D3;
	line-height: 1.2em;
}

.s-dark-item h4 {
	font-size: 1.3em;
}

.s-dark-item span {
	font-size: 1.8em;
	color: #ea9525;
}

@media (min-width: 992px) {
	.header-phone {
		float: left;
		padding-left: 50px;
		display: block;
		color: #fff;
	}
}

@media (max-width: 991px) {
	.header-phone {
		display: none;
	}
}

@media screen and (max-width: 980px) {
	.header-phone {
		display: none;
	}
	.header-content {
		padding: 2% 0;
	}
	.header-content ul {
		list-style-type: none;
		padding: 3.2em 0 0 0;
		margin: 0;
	}
	.header-content ul li {
		font-size: 1.5em;
		line-height: 2em;
	}
	.header-content a.button {
		margin: 1em;
	}
	.header-content h2 {
		font-size: 2.5em;
		line-height: 1.2em;
	}
}

/*# sourceMappingURL=head.css.map */