@charset "UTF-8";
@import url("font-awesome.min.css");
@font-face {
	font-family: 'Conv_PoiretOne-Regular';
	src: url("../fonts/PoiretOne-Regular.eot");
	src: local("☺"), url("../fonts/PoiretOne-Regular.woff") format("woff"), url("../fonts/PoiretOne-Regular.ttf") format("truetype"), url("../fonts/PoiretOne-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_RobotoCondensed-Light';
	src: url("../fonts/RobotoCondensed-Light.eot");
	src: local("☺"), url("../fonts/RobotoCondensed-Light.woff") format("woff"), url("../fonts/RobotoCondensed-Light.ttf") format("truetype"), url("../fonts/RobotoCondensed-Light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_RobotoCondensed-Regular';
	src: url("../fonts/RobotoCondensed-Regular.eot");
	src: local("☺"), url("../fonts/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("../fonts/RobotoCondensed-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_RobotoCondensed-Bold';
	src: url("../fonts/RobotoCondensed-Bold.eot");
	src: local("☺"), url("../fonts/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.ttf") format("truetype"), url("../fonts/RobotoCondensed-Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Roboto Condensed', sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

.text-center {
	text-align: center;
}

/* Box Model */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Containers */
.container {
	margin-left: auto;
	margin-right: auto;
}

.container.\31 25\25 {
	width: 100%;
	max-width: 87.5em;
	min-width: 70em;
}

.container.\37 5\25 {
	width: 52.5em;
}

.container.\35 0\25 {
	width: 35em;
}

.container.\32 5\25 {
	width: 17.5em;
}

.container {
	width: 70em;
}

.map-full {
	height: 100vh;
}

@media screen and (max-width: 1680px) {
	#header nav ul li a.team {
		display: none;
	}
	.container.\31 25\25 {
		width: 100%;
		max-width: 87.5em;
		min-width: 70em;
	}
	.container.\37 5\25 {
		width: 52.5em;
	}
	.container.\35 0\25 {
		width: 35em;
	}
	.container.\32 5\25 {
		width: 17.5em;
	}
	.container {
		width: 70em;
	}
}

@media screen and (max-width: 1280px) {
	.container.\31 25\25 {
		width: 100%;
		max-width: 112.5%;
		min-width: 90%;
	}
	.container.\37 5\25 {
		width: 67.5%;
	}
	.container.\35 0\25 {
		width: 45%;
	}
	.container.\32 5\25 {
		width: 22.5%;
	}
	.container {
		width: 90%;
	}
}

@media screen and (max-width: 991px) {
	#main .container .rows .col-md-4 .hidden-on-time {
		display: none;
	}
	.letsbar .container .rows .col-md-3 {
		padding-top: 60px;
		margin-bottom: -80px;
	}
	#footer {
		padding: 1em 0;
	}
	.container.\31 25\25 {
		width: 100%;
		max-width: 125%;
		min-width: 100%;
	}
	.container.\37 5\25 {
		width: 75%;
	}
	.container.\35 0\25 {
		width: 50%;
	}
	.container.\32 5\25 {
		width: 25%;
	}
	.container {
		width: 100% !important;
	}
}

@media screen and (max-width: 980px) {
	.letsbar .container .rows .col-md-3 {
		padding-top: 60px;
		margin-bottom: -80px;
	}
	.container.\31 25\25 {
		width: 100%;
		max-width: 125%;
		min-width: 100%;
	}
	.container.\37 5\25 {
		width: 75%;
	}
	.container.\35 0\25 {
		width: 50%;
	}
	.container.\32 5\25 {
		width: 25%;
	}
	.container {
		width: 100% !important;
	}
}

@media screen and (max-width: 736px) {
	#six {
		display: none;
	}
	.logo-b {
		height: 7%;
		width: 7%;
		margin-left: 0.5em;
		margin-top: -0.5em;
	}
	#header nav ul li a.team {
		display: inline-block;
	}
	.container.\31 25\25 {
		width: 100%;
		max-width: 125%;
		min-width: 100%;
	}
	.container.\37 5\25 {
		width: 75%;
	}
	.container.\35 0\25 {
		width: 50%;
	}
	.container.\32 5\25 {
		width: 25%;
	}
	.container {
		width: 100% !important;
	}
}

@media screen and (max-width: 480px) {
	#main .container .rows .col-md-4 .hidden-on-time {
		display: block;
	}
	#main .container .rows .col-md-4 nav p {
		margin-left: 4.2em;
	}
	.container.\31 25\25 {
		width: 100%;
		max-width: 125%;
		min-width: 100%;
	}
	.container.\37 5\25 {
		width: 75%;
	}
	.container.\35 0\25 {
		width: 50%;
	}
	.container.\32 5\25 {
		width: 25%;
	}
	.container {
		width: 100% !important;
	}
	.rows.uniform > * > :last-child {
		margin-bottom: 0;
		margin-top: -35px;
	}
}

/* Grid */
.rows {
	border-bottom: solid 1px transparent;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.rows > * {
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.rows:after, .rows:before {
	content: '';
	display: block;
	clear: both;
	height: 0;
}

.rows.uniform > * > :first-child {
	margin-top: 0;
}

.rows.uniform > * > :last-child {
	margin-bottom: 1.8em;
}

.rows.\30 \25 > * {
	padding: 0 0 0 0em;
}

.rows.\30 \25 {
	margin: 0 0 -1px 0em;
}

.rows.uniform.\30 \25 > * {
	padding: 0em 0 0 0em;
}

.rows.uniform.\30 \25 {
	margin: 0em 0 -1px 0em;
}

.rows > * {
	padding: 0 0 0 2.5em;
}

.rows {
	margin: 0 0 -1px -2.5em;
}

.rows.uniform > * {
	padding: 2.5em 0 0 2.5em;
}

.rows.uniform {
	margin: -2.5em 0 -1px -2.5em;
}

.rows.\32 00\25 > * {
	padding: 0 0 0 5em;
}

.rows.\32 00\25 {
	margin: 0 0 -1px -5em;
}

.rows.uniform.\32 00\25 > * {
	padding: 5em 0 0 5em;
}

.rows.uniform.\32 00\25 {
	margin: -5em 0 -1px -5em;
}

.rows.\31 50\25 > * {
	padding: 0 0 0 3.75em;
}

.rows.\31 50\25 {
	margin: 0 0 -1px -3.75em;
}

.rows.uniform.\31 50\25 > * {
	padding: 3.75em 0 0 3.75em;
}

.rows.uniform.\31 50\25 {
	margin: -3.75em 0 -1px -3.75em;
}

.rows.\35 0\25 > * {
	padding: 0 0 0 1.25em;
}

.rows.\35 0\25 {
	margin: 0 0 -1px -1.25em;
}

.rows.uniform.\35 0\25 > * {
	padding: 1.25em 0 0 1.25em;
}

.rows.uniform.\35 0\25 {
	margin: -1.25em 0 -1px -1.25em;
}

.rows.\32 5\25 > * {
	padding: 0 0 0 0.625em;
}

.rows.\32 5\25 {
	margin: 0 0 -1px -0.625em;
}

.rows.uniform.\32 5\25 > * {
	padding: 0.625em 0 0 0.625em;
}

.rows.uniform.\32 5\25 {
	margin: -0.625em 0 -1px -0.625em;
}

.\31 2u, .\31 2u\24 {
	width: 100%;
	clear: none;
	margin-left: 0;
}

.\31 1u, .\31 1u\24 {
	width: 91.6666666667%;
	clear: none;
	margin-left: 0;
}

.\31 0u, .\31 0u\24 {
	width: 83.3333333333%;
	clear: none;
	margin-left: 0;
}

.\39 u, .\39 u\24 {
	width: 75%;
	clear: none;
	margin-left: 0;
}

.\38 u, .\38 u\24 {
	width: 66.6666666667%;
	clear: none;
	margin-left: 0;
}

.\37 u, .\37 u\24 {
	width: 58.3333333333%;
	clear: none;
	margin-left: 0;
}

.\36 u, .\36 u\24 {
	width: 50%;
	clear: none;
	margin-left: 0;
}

.\35 u, .\35 u\24 {
	width: 41.6666666667%;
	clear: none;
	margin-left: 0;
}

.\34 u, .\34 u\24 {
	width: 33.3333333333%;
	clear: none;
	margin-left: 0;
}

.\33 u, .\33 u\24 {
	width: 25%;
	clear: none;
	margin-left: 0;
}

.\32 u, .\32 u\24 {
	width: 16.6666666667%;
	clear: none;
	margin-left: 0;
}

.\31 u, .\31 u\24 {
	width: 8.3333333333%;
	clear: none;
	margin-left: 0;
}

.\31 2u\24 + *,
.\31 1u\24 + *,
.\31 0u\24 + *,
.\39 u\24 + *,
.\38 u\24 + *,
.\37 u\24 + *,
.\36 u\24 + *,
.\35 u\24 + *,
.\34 u\24 + *,
.\33 u\24 + *,
.\32 u\24 + *,
.\31 u\24 + * {
	clear: left;
}

.\-11u {
	margin-left: 91.66667%;
}

.\-10u {
	margin-left: 83.33333%;
}

.\-9u {
	margin-left: 75%;
}

.\-8u {
	margin-left: 66.66667%;
}

.\-7u {
	margin-left: 58.33333%;
}

.\-6u {
	margin-left: 50%;
}

.\-5u {
	margin-left: 41.66667%;
}

.\-4u {
	margin-left: 33.33333%;
}

.\-3u {
	margin-left: 25%;
}

.\-2u {
	margin-left: 16.66667%;
}

.\-1u {
	margin-left: 8.33333%;
}

@media screen and (max-width: 1680px) {
	.rows > * {
		padding: 0 0 0 2.5em;
	}
	.rows {
		margin: 0 0 -1px -2.5em;
	}
	.rows.uniform > * {
		padding: 2.5em 0 0 2.5em;
	}
	.rows.uniform {
		margin: -2.5em 0 -1px -2.5em;
	}
	.rows.\32 00\25 > * {
		padding: 0 0 0 5em;
	}
	.rows.\32 00\25 {
		margin: 0 0 -1px -5em;
	}
	.rows.uniform.\32 00\25 > * {
		padding: 5em 0 0 5em;
	}
	.rows.uniform.\32 00\25 {
		margin: -5em 0 -1px -5em;
	}
	.rows.\31 50\25 > * {
		padding: 0 0 0 3.75em;
	}
	.rows.\31 50\25 {
		margin: 0 0 -1px -3.75em;
	}
	.rows.uniform.\31 50\25 > * {
		padding: 3.75em 0 0 3.75em;
	}
	.rows.uniform.\31 50\25 {
		margin: -3.75em 0 -1px -3.75em;
	}
	.rows.\35 0\25 > * {
		padding: 0 0 0 1.25em;
	}
	.rows.\35 0\25 {
		margin: 0 0 -1px -1.25em;
	}
	.rows.uniform.\35 0\25 > * {
		padding: 1.25em 0 0 1.25em;
	}
	.rows.uniform.\35 0\25 {
		margin: -1.25em 0 -1px -1.25em;
	}
	.rows.\32 5\25 > * {
		padding: 0 0 0 0.625em;
	}
	.rows.\32 5\25 {
		margin: 0 0 -1px -0.625em;
	}
	.rows.uniform.\32 5\25 > * {
		padding: 0.625em 0 0 0.625em;
	}
	.rows.uniform.\32 5\25 {
		margin: -0.625em 0 -1px -0.625em;
	}
	.\31 2u\28xlarge\29, .\31 2u\24\28xlarge\29 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}
	.\31 1u\28xlarge\29, .\31 1u\24\28xlarge\29 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 0u\28xlarge\29, .\31 0u\24\28xlarge\29 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\39 u\28xlarge\29, .\39 u\24\28xlarge\29 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}
	.\38 u\28xlarge\29, .\38 u\24\28xlarge\29 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\37 u\28xlarge\29, .\37 u\24\28xlarge\29 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\36 u\28xlarge\29, .\36 u\24\28xlarge\29 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}
	.\35 u\28xlarge\29, .\35 u\24\28xlarge\29 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\34 u\28xlarge\29, .\34 u\24\28xlarge\29 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\33 u\28xlarge\29, .\33 u\24\28xlarge\29 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}
	.\32 u\28xlarge\29, .\32 u\24\28xlarge\29 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 u\28xlarge\29, .\31 u\24\28xlarge\29 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\31 2u\24\28xlarge\29 + *,
	.\31 1u\24\28xlarge\29 + *,
	.\31 0u\24\28xlarge\29 + *,
	.\39 u\24\28xlarge\29 + *,
	.\38 u\24\28xlarge\29 + *,
	.\37 u\24\28xlarge\29 + *,
	.\36 u\24\28xlarge\29 + *,
	.\35 u\24\28xlarge\29 + *,
	.\34 u\24\28xlarge\29 + *,
	.\33 u\24\28xlarge\29 + *,
	.\32 u\24\28xlarge\29 + *,
	.\31 u\24\28xlarge\29 + * {
		clear: left;
	}
	.\-11u\28xlarge\29 {
		margin-left: 91.66667%;
	}
	.\-10u\28xlarge\29 {
		margin-left: 83.33333%;
	}
	.\-9u\28xlarge\29 {
		margin-left: 75%;
	}
	.\-8u\28xlarge\29 {
		margin-left: 66.66667%;
	}
	.\-7u\28xlarge\29 {
		margin-left: 58.33333%;
	}
	.\-6u\28xlarge\29 {
		margin-left: 50%;
	}
	.\-5u\28xlarge\29 {
		margin-left: 41.66667%;
	}
	.\-4u\28xlarge\29 {
		margin-left: 33.33333%;
	}
	.\-3u\28xlarge\29 {
		margin-left: 25%;
	}
	.\-2u\28xlarge\29 {
		margin-left: 16.66667%;
	}
	.\-1u\28xlarge\29 {
		margin-left: 8.33333%;
	}
}

@media screen and (max-width: 1280px) {
	.rows > * {
		padding: 0 0 0 2.5em;
	}
	.rows {
		margin: 0 0 -1px -2.5em;
	}
	.rows.uniform > * {
		padding: 2.5em 0 0 2.5em;
	}
	.rows.uniform {
		margin: -2.5em 0 -1px -2.5em;
	}
	.rows.\32 00\25 > * {
		padding: 0 0 0 5em;
	}
	.rows.\32 00\25 {
		margin: 0 0 -1px -5em;
	}
	.rows.uniform.\32 00\25 > * {
		padding: 5em 0 0 5em;
	}
	.rows.uniform.\32 00\25 {
		margin: -5em 0 -1px -5em;
	}
	.rows.\31 50\25 > * {
		padding: 0 0 0 3.75em;
	}
	.rows.\31 50\25 {
		margin: 0 0 -1px -3.75em;
	}
	.rows.uniform.\31 50\25 > * {
		padding: 3.75em 0 0 3.75em;
	}
	.rows.uniform.\31 50\25 {
		margin: -3.75em 0 -1px -3.75em;
	}
	.rows.\35 0\25 > * {
		padding: 0 0 0 1.25em;
	}
	.rows.\35 0\25 {
		margin: 0 0 -1px -1.25em;
	}
	.rows.uniform.\35 0\25 > * {
		padding: 1.25em 0 0 1.25em;
	}
	.rows.uniform.\35 0\25 {
		margin: -1.25em 0 -1px -1.25em;
	}
	.rows.\32 5\25 > * {
		padding: 0 0 0 0.625em;
	}
	.rows.\32 5\25 {
		margin: 0 0 -1px -0.625em;
	}
	.rows.uniform.\32 5\25 > * {
		padding: 0.625em 0 0 0.625em;
	}
	.rows.uniform.\32 5\25 {
		margin: -0.625em 0 -1px -0.625em;
	}
	.\31 2u\28large\29, .\31 2u\24\28large\29 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}
	.\31 1u\28large\29, .\31 1u\24\28large\29 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 0u\28large\29, .\31 0u\24\28large\29 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\39 u\28large\29, .\39 u\24\28large\29 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}
	.\38 u\28large\29, .\38 u\24\28large\29 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\37 u\28large\29, .\37 u\24\28large\29 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\36 u\28large\29, .\36 u\24\28large\29 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}
	.\35 u\28large\29, .\35 u\24\28large\29 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\34 u\28large\29, .\34 u\24\28large\29 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\33 u\28large\29, .\33 u\24\28large\29 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}
	.\32 u\28large\29, .\32 u\24\28large\29 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 u\28large\29, .\31 u\24\28large\29 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\31 2u\24\28large\29 + *,
	.\31 1u\24\28large\29 + *,
	.\31 0u\24\28large\29 + *,
	.\39 u\24\28large\29 + *,
	.\38 u\24\28large\29 + *,
	.\37 u\24\28large\29 + *,
	.\36 u\24\28large\29 + *,
	.\35 u\24\28large\29 + *,
	.\34 u\24\28large\29 + *,
	.\33 u\24\28large\29 + *,
	.\32 u\24\28large\29 + *,
	.\31 u\24\28large\29 + * {
		clear: left;
	}
	.\-11u\28large\29 {
		margin-left: 91.66667%;
	}
	.\-10u\28large\29 {
		margin-left: 83.33333%;
	}
	.\-9u\28large\29 {
		margin-left: 75%;
	}
	.\-8u\28large\29 {
		margin-left: 66.66667%;
	}
	.\-7u\28large\29 {
		margin-left: 58.33333%;
	}
	.\-6u\28large\29 {
		margin-left: 50%;
	}
	.\-5u\28large\29 {
		margin-left: 41.66667%;
	}
	.\-4u\28large\29 {
		margin-left: 33.33333%;
	}
	.\-3u\28large\29 {
		margin-left: 25%;
	}
	.\-2u\28large\29 {
		margin-left: 16.66667%;
	}
	.\-1u\28large\29 {
		margin-left: 8.33333%;
	}
}

@media screen and (max-width: 992px) {
	.letsbar .container .rows .col-md-3 {
		padding-top: 60px;
		margin-bottom: -80px;
	}
}

@media screen and (max-width: 980px) {
	.rows > * {
		padding: 0 0 0 2.5em;
	}
	.rows {
		margin: 0 0 -1px -2.5em;
	}
	.rows.uniform > * {
		padding: 2.5em 0 0 2.5em;
	}
	.rows.uniform {
		margin: -2.5em 0 -1px -2.5em;
	}
	.rows.\32 00\25 > * {
		padding: 0 0 0 5em;
	}
	.rows.\32 00\25 {
		margin: 0 0 -1px -5em;
	}
	.rows.uniform.\32 00\25 > * {
		padding: 5em 0 0 5em;
	}
	.rows.uniform.\32 00\25 {
		margin: -5em 0 -1px -5em;
	}
	.rows.\31 50\25 > * {
		padding: 0 0 0 3.75em;
	}
	.rows.\31 50\25 {
		margin: 0 0 -1px -3.75em;
	}
	.rows.uniform.\31 50\25 > * {
		padding: 3.75em 0 0 3.75em;
	}
	.rows.uniform.\31 50\25 {
		margin: -3.75em 0 -1px -3.75em;
	}
	.rows.\35 0\25 > * {
		padding: 0 0 0 1.25em;
	}
	.rows.\35 0\25 {
		margin: 0 0 -1px -1.25em;
	}
	.rows.uniform.\35 0\25 > * {
		padding: 1.25em 0 0 1.25em;
	}
	.rows.uniform.\35 0\25 {
		margin: -1.25em 0 -1px -1.25em;
	}
	.rows.\32 5\25 > * {
		padding: 0 0 0 0.625em;
	}
	.rows.\32 5\25 {
		margin: 0 0 -1px -0.625em;
	}
	.rows.uniform.\32 5\25 > * {
		padding: 0.625em 0 0 0.625em;
	}
	.rows.uniform.\32 5\25 {
		margin: -0.625em 0 -1px -0.625em;
	}
	.\31 2u\28medium\29, .\31 2u\24\28medium\29 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}
	.\31 1u\28medium\29, .\31 1u\24\28medium\29 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 0u\28medium\29, .\31 0u\24\28medium\29 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\39 u\28medium\29, .\39 u\24\28medium\29 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}
	.\38 u\28medium\29, .\38 u\24\28medium\29 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\37 u\28medium\29, .\37 u\24\28medium\29 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\36 u\28medium\29, .\36 u\24\28medium\29 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}
	.\35 u\28medium\29, .\35 u\24\28medium\29 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\34 u\28medium\29, .\34 u\24\28medium\29 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\33 u\28medium\29, .\33 u\24\28medium\29 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}
	.\32 u\28medium\29, .\32 u\24\28medium\29 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 u\28medium\29, .\31 u\24\28medium\29 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\31 2u\24\28medium\29 + *,
	.\31 1u\24\28medium\29 + *,
	.\31 0u\24\28medium\29 + *,
	.\39 u\24\28medium\29 + *,
	.\38 u\24\28medium\29 + *,
	.\37 u\24\28medium\29 + *,
	.\36 u\24\28medium\29 + *,
	.\35 u\24\28medium\29 + *,
	.\34 u\24\28medium\29 + *,
	.\33 u\24\28medium\29 + *,
	.\32 u\24\28medium\29 + *,
	.\31 u\24\28medium\29 + * {
		clear: left;
	}
	.\-11u\28medium\29 {
		margin-left: 91.66667%;
	}
	.\-10u\28medium\29 {
		margin-left: 83.33333%;
	}
	.\-9u\28medium\29 {
		margin-left: 75%;
	}
	.\-8u\28medium\29 {
		margin-left: 66.66667%;
	}
	.\-7u\28medium\29 {
		margin-left: 58.33333%;
	}
	.\-6u\28medium\29 {
		margin-left: 50%;
	}
	.\-5u\28medium\29 {
		margin-left: 41.66667%;
	}
	.\-4u\28medium\29 {
		margin-left: 33.33333%;
	}
	.\-3u\28medium\29 {
		margin-left: 25%;
	}
	.\-2u\28medium\29 {
		margin-left: 16.66667%;
	}
	.\-1u\28medium\29 {
		margin-left: 8.33333%;
	}
}

@media screen and (max-width: 736px) {
	.rows > * {
		padding: 0 0 0 2.5em;
	}
	.rows {
		margin: 0 0 -1px -2.5em;
	}
	.rows.uniform > * {
		padding: 2.5em 0 0 2.5em;
	}
	.rows.uniform {
		margin: -2.5em 0 -1px -2.5em;
	}
	.rows.\32 00\25 > * {
		padding: 0 0 0 5em;
	}
	.rows.\32 00\25 {
		margin: 0 0 -1px -5em;
	}
	.rows.uniform.\32 00\25 > * {
		padding: 5em 0 0 5em;
	}
	.rows.uniform.\32 00\25 {
		margin: -5em 0 -1px -5em;
	}
	.rows.\31 50\25 > * {
		padding: 0 0 0 3.75em;
	}
	.rows.\31 50\25 {
		margin: 0 0 -1px -3.75em;
	}
	.rows.uniform.\31 50\25 > * {
		padding: 3.75em 0 0 3.75em;
	}
	.rows.uniform.\31 50\25 {
		margin: -3.75em 0 -1px -3.75em;
	}
	.rows.\35 0\25 > * {
		padding: 0 0 0 1.25em;
	}
	.rows.\35 0\25 {
		margin: 0 0 -1px -1.25em;
	}
	.rows.uniform.\35 0\25 > * {
		padding: 1.25em 0 0 1.25em;
	}
	.rows.uniform.\35 0\25 {
		margin: -1.25em 0 -1px -1.25em;
	}
	.rows.\32 5\25 > * {
		padding: 0 0 0 0.625em;
	}
	.rows.\32 5\25 {
		margin: 0 0 -1px -0.625em;
	}
	.rows.uniform.\32 5\25 > * {
		padding: 0.625em 0 0 0.625em;
	}
	.rows.uniform.\32 5\25 {
		margin: -0.625em 0 -1px -0.625em;
	}
	.\31 2u\28small\29, .\31 2u\24\28small\29 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}
	.\31 1u\28small\29, .\31 1u\24\28small\29 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 0u\28small\29, .\31 0u\24\28small\29 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\39 u\28small\29, .\39 u\24\28small\29 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}
	.\38 u\28small\29, .\38 u\24\28small\29 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\37 u\28small\29, .\37 u\24\28small\29 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\36 u\28small\29, .\36 u\24\28small\29 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}
	.\35 u\28small\29, .\35 u\24\28small\29 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\34 u\28small\29, .\34 u\24\28small\29 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\33 u\28small\29, .\33 u\24\28small\29 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}
	.\32 u\28small\29, .\32 u\24\28small\29 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 u\28small\29, .\31 u\24\28small\29 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\31 2u\24\28small\29 + *,
	.\31 1u\24\28small\29 + *,
	.\31 0u\24\28small\29 + *,
	.\39 u\24\28small\29 + *,
	.\38 u\24\28small\29 + *,
	.\37 u\24\28small\29 + *,
	.\36 u\24\28small\29 + *,
	.\35 u\24\28small\29 + *,
	.\34 u\24\28small\29 + *,
	.\33 u\24\28small\29 + *,
	.\32 u\24\28small\29 + *,
	.\31 u\24\28small\29 + * {
		clear: left;
	}
	.\-11u\28small\29 {
		margin-left: 91.66667%;
	}
	.\-10u\28small\29 {
		margin-left: 83.33333%;
	}
	.\-9u\28small\29 {
		margin-left: 75%;
	}
	.\-8u\28small\29 {
		margin-left: 66.66667%;
	}
	.\-7u\28small\29 {
		margin-left: 58.33333%;
	}
	.\-6u\28small\29 {
		margin-left: 50%;
	}
	.\-5u\28small\29 {
		margin-left: 41.66667%;
	}
	.\-4u\28small\29 {
		margin-left: 33.33333%;
	}
	.\-3u\28small\29 {
		margin-left: 25%;
	}
	.\-2u\28small\29 {
		margin-left: 16.66667%;
	}
	.\-1u\28small\29 {
		margin-left: 8.33333%;
	}
}

@media screen and (max-width: 480px) {
	.rows > * {
		padding: 0 0 0 2.5em;
	}
	.rows {
		margin: 0 0 -1px -2.5em;
	}
	.rows.uniform > * {
		padding: 2.5em 0 0 2.5em;
	}
	.rows.uniform {
		margin: -2.5em 0 -1px -2.5em;
	}
	.rows.\32 00\25 > * {
		padding: 0 0 0 5em;
	}
	.rows.\32 00\25 {
		margin: 0 0 -1px -5em;
	}
	.rows.uniform.\32 00\25 > * {
		padding: 5em 0 0 5em;
	}
	.rows.uniform.\32 00\25 {
		margin: -5em 0 -1px -5em;
	}
	.rows.\31 50\25 > * {
		padding: 0 0 0 3.75em;
	}
	.rows.\31 50\25 {
		margin: 0 0 -1px -3.75em;
	}
	.rows.uniform.\31 50\25 > * {
		padding: 3.75em 0 0 3.75em;
	}
	.rows.uniform.\31 50\25 {
		margin: -3.75em 0 -1px -3.75em;
	}
	.rows.\35 0\25 > * {
		padding: 0 0 0 1.25em;
	}
	.rows.\35 0\25 {
		margin: 0 0 -1px -1.25em;
	}
	.rows.uniform.\35 0\25 > * {
		padding: 1.25em 0 0 1.25em;
	}
	.rows.uniform.\35 0\25 {
		margin: -1.25em 0 -1px -1.25em;
	}
	.rows.\32 5\25 > * {
		padding: 0 0 0 0.625em;
	}
	.rows.\32 5\25 {
		margin: 0 0 -1px -0.625em;
	}
	.rows.uniform.\32 5\25 > * {
		padding: 0.625em 0 0 0.625em;
	}
	.rows.uniform.\32 5\25 {
		margin: -0.625em 0 -1px -0.625em;
	}
	.\31 2u\28xsmall\29, .\31 2u\24\28xsmall\29 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}
	.\31 1u\28xsmall\29, .\31 1u\24\28xsmall\29 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 0u\28xsmall\29, .\31 0u\24\28xsmall\29 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\39 u\28xsmall\29, .\39 u\24\28xsmall\29 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}
	.\38 u\28xsmall\29, .\38 u\24\28xsmall\29 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\37 u\28xsmall\29, .\37 u\24\28xsmall\29 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\36 u\28xsmall\29, .\36 u\24\28xsmall\29 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}
	.\35 u\28xsmall\29, .\35 u\24\28xsmall\29 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\34 u\28xsmall\29, .\34 u\24\28xsmall\29 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\33 u\28xsmall\29, .\33 u\24\28xsmall\29 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}
	.\32 u\28xsmall\29, .\32 u\24\28xsmall\29 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 u\28xsmall\29, .\31 u\24\28xsmall\29 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\31 2u\24\28xsmall\29 + *,
	.\31 1u\24\28xsmall\29 + *,
	.\31 0u\24\28xsmall\29 + *,
	.\39 u\24\28xsmall\29 + *,
	.\38 u\24\28xsmall\29 + *,
	.\37 u\24\28xsmall\29 + *,
	.\36 u\24\28xsmall\29 + *,
	.\35 u\24\28xsmall\29 + *,
	.\34 u\24\28xsmall\29 + *,
	.\33 u\24\28xsmall\29 + *,
	.\32 u\24\28xsmall\29 + *,
	.\31 u\24\28xsmall\29 + * {
		clear: left;
	}
	.\-11u\28xsmall\29 {
		margin-left: 91.66667%;
	}
	.\-10u\28xsmall\29 {
		margin-left: 83.33333%;
	}
	.\-9u\28xsmall\29 {
		margin-left: 75%;
	}
	.\-8u\28xsmall\29 {
		margin-left: 66.66667%;
	}
	.\-7u\28xsmall\29 {
		margin-left: 58.33333%;
	}
	.\-6u\28xsmall\29 {
		margin-left: 50%;
	}
	.\-5u\28xsmall\29 {
		margin-left: 41.66667%;
	}
	.\-4u\28xsmall\29 {
		margin-left: 33.33333%;
	}
	.\-3u\28xsmall\29 {
		margin-left: 25%;
	}
	.\-2u\28xsmall\29 {
		margin-left: 16.66667%;
	}
	.\-1u\28xsmall\29 {
		margin-left: 8.33333%;
	}
}

/* Basic */
html, body {
	background: #1c1d26;
	/*#1c1d26*/
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

body, input, select, textarea {
	color: rgba(255, 255, 255, 0.75);
	font-family: 'Conv_PoiretOne-Regular';
	font-size: 15pt;
	font-weight: 100;
	line-height: 1.75em;
}

a {
	-moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #fff;
	font-weight: 400;
	border-bottom-color: transparent;
}

strong, b {
	color: #ffffff;
	font-weight: 300;
}

em, i {
	font-style: italic;
}

p {
	margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #ffffff;
	font-weight: 300;
	line-height: 1em;
	margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	border: 0;
}

h2 {
	font-size: 2em;
	line-height: 1.5em;
	letter-spacing: -0.025em;
}

h3 {
	font-size: 2.2em;
	line-height: 1.6em;
}

h4 {
	font-size: 1.1em;
	line-height: 1.5em;
}

h5 {
	font-size: 0.9em;
	line-height: 1.5em;
}

h6 {
	font-size: 0.7em;
	line-height: 1.5em;
}

sub {
	font-size: 0.8em;
	position: relative;
	top: 0.5em;
}

sup {
	font-size: 0.8em;
	position: relative;
	top: -0.5em;
}

hr {
	border: 0;
	border-bottom: solid 1px rgba(255, 255, 255, 0.3);
	margin: 3em 0;
}

hr.major {
	margin: 4em 0;
}

blockquote {
	border-left: solid 4px rgba(255, 255, 255, 0.3);
	font-style: italic;
	margin: 0 0 2em 0;
	padding: 0.5em 0 0.5em 2em;
}

code {
	background: rgba(255, 255, 255, 0.075);
	border-radius: 4px;
	font-family: "Courier New", monospace;
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.65em;
}

pre {
	-webkit-overflow-scrolling: touch;
	font-family: "Courier New", monospace;
	font-size: 0.9em;
	margin: 0 0 2em 0;
}

pre code {
	display: block;
	line-height: 1.75em;
	padding: 1em 1.5em;
	overflow-x: auto;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

/* Loader */
@-moz-keyframes spinner-show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes spinner-show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes spinner-show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes spinner-show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes spinner-hide {
	0% {
		color: #fff;
		z-index: 100001;
		-moz-transform: scale(1) rotate(0deg);
		-webkit-transform: scale(1) rotate(0deg);
		-ms-transform: scale(1) rotate(0deg);
		transform: scale(1) rotate(0deg);
	}
	99% {
		color: #fff;
		z-index: 100001;
		-moz-transform: scale(0.5) rotate(360deg);
		-webkit-transform: scale(0.5) rotate(360deg);
		-ms-transform: scale(0.5) rotate(360deg);
		transform: scale(0.5) rotate(360deg);
	}
	100% {
		color: #fff;
		z-index: -1;
		-moz-transform: scale(0.5) rotate(360deg);
		-webkit-transform: scale(0.5) rotate(360deg);
		-ms-transform: scale(0.5) rotate(360deg);
		transform: scale(0.5) rotate(360deg);
	}
}

@-webkit-keyframes spinner-hide {
	0% {
		color: #fff;
		z-index: 100001;
		-moz-transform: scale(1) rotate(0deg);
		-webkit-transform: scale(1) rotate(0deg);
		-ms-transform: scale(1) rotate(0deg);
		transform: scale(1) rotate(0deg);
	}
	99% {
		color: #fff;
		z-index: 100001;
		-moz-transform: scale(0.5) rotate(360deg);
		-webkit-transform: scale(0.5) rotate(360deg);
		-ms-transform: scale(0.5) rotate(360deg);
		transform: scale(0.5) rotate(360deg);
	}
	100% {
		color: #fff;
		z-index: -1;
		-moz-transform: scale(0.5) rotate(360deg);
		-webkit-transform: scale(0.5) rotate(360deg);
		-ms-transform: scale(0.5) rotate(360deg);
		transform: scale(0.5) rotate(360deg);
	}
}

@-ms-keyframes spinner-hide {
	0% {
		color: #fff;
		z-index: 100001;
		-moz-transform: scale(1) rotate(0deg);
		-webkit-transform: scale(1) rotate(0deg);
		-ms-transform: scale(1) rotate(0deg);
		transform: scale(1) rotate(0deg);
	}
	99% {
		color: #fff;
		z-index: 100001;
		-moz-transform: scale(0.5) rotate(360deg);
		-webkit-transform: scale(0.5) rotate(360deg);
		-ms-transform: scale(0.5) rotate(360deg);
		transform: scale(0.5) rotate(360deg);
	}
	100% {
		color: #fff;
		z-index: -1;
		-moz-transform: scale(0.5) rotate(360deg);
		-webkit-transform: scale(0.5) rotate(360deg);
		-ms-transform: scale(0.5) rotate(360deg);
		transform: scale(0.5) rotate(360deg);
	}
}

@keyframes spinner-hide {
	0% {
		color: #fff;
		z-index: 100001;
		-moz-transform: scale(1) rotate(0deg);
		-webkit-transform: scale(1) rotate(0deg);
		-ms-transform: scale(1) rotate(0deg);
		transform: scale(1) rotate(0deg);
	}
	99% {
		color: #fff;
		z-index: 100001;
		-moz-transform: scale(0.5) rotate(360deg);
		-webkit-transform: scale(0.5) rotate(360deg);
		-ms-transform: scale(0.5) rotate(360deg);
		transform: scale(0.5) rotate(360deg);
	}
	100% {
		color: #fff;
		z-index: -1;
		-moz-transform: scale(0.5) rotate(360deg);
		-webkit-transform: scale(0.5) rotate(360deg);
		-ms-transform: scale(0.5) rotate(360deg);
		transform: scale(0.5) rotate(360deg);
	}
}

@-moz-keyframes spinner-rotate {
	0% {
		-moz-transform: scale(1) rotate(0deg);
		-webkit-transform: scale(1) rotate(0deg);
		-ms-transform: scale(1) rotate(0deg);
		transform: scale(1) rotate(0deg);
	}
	100% {
		-moz-transform: scale(1) rotate(360deg);
		-webkit-transform: scale(1) rotate(360deg);
		-ms-transform: scale(1) rotate(360deg);
		transform: scale(1) rotate(360deg);
	}
}

@-webkit-keyframes spinner-rotate {
	0% {
		-moz-transform: scale(1) rotate(0deg);
		-webkit-transform: scale(1) rotate(0deg);
		-ms-transform: scale(1) rotate(0deg);
		transform: scale(1) rotate(0deg);
	}
	100% {
		-moz-transform: scale(1) rotate(360deg);
		-webkit-transform: scale(1) rotate(360deg);
		-ms-transform: scale(1) rotate(360deg);
		transform: scale(1) rotate(360deg);
	}
}

@-ms-keyframes spinner-rotate {
	0% {
		-moz-transform: scale(1) rotate(0deg);
		-webkit-transform: scale(1) rotate(0deg);
		-ms-transform: scale(1) rotate(0deg);
		transform: scale(1) rotate(0deg);
	}
	100% {
		-moz-transform: scale(1) rotate(360deg);
		-webkit-transform: scale(1) rotate(360deg);
		-ms-transform: scale(1) rotate(360deg);
		transform: scale(1) rotate(360deg);
	}
}

@keyframes spinner-rotate {
	0% {
		-moz-transform: scale(1) rotate(0deg);
		-webkit-transform: scale(1) rotate(0deg);
		-ms-transform: scale(1) rotate(0deg);
		transform: scale(1) rotate(0deg);
	}
	100% {
		-moz-transform: scale(1) rotate(360deg);
		-webkit-transform: scale(1) rotate(360deg);
		-ms-transform: scale(1) rotate(360deg);
		transform: scale(1) rotate(360deg);
	}
}

@-moz-keyframes overlay-hide {
	0% {
		opacity: 1;
		z-index: 100000;
	}
	15% {
		opacity: 1;
		z-index: 100000;
	}
	99% {
		opacity: 0;
		z-index: 100000;
	}
	100% {
		opacity: 0;
		z-index: -1;
	}
}

@-webkit-keyframes overlay-hide {
	0% {
		opacity: 1;
		z-index: 100000;
	}
	15% {
		opacity: 1;
		z-index: 100000;
	}
	99% {
		opacity: 0;
		z-index: 100000;
	}
	100% {
		opacity: 0;
		z-index: -1;
	}
}

@-ms-keyframes overlay-hide {
	0% {
		opacity: 1;
		z-index: 100000;
	}
	15% {
		opacity: 1;
		z-index: 100000;
	}
	99% {
		opacity: 0;
		z-index: 100000;
	}
	100% {
		opacity: 0;
		z-index: -1;
	}
}

@keyframes overlay-hide {
	0% {
		opacity: 1;
		z-index: 100000;
	}
	15% {
		opacity: 1;
		z-index: 100000;
	}
	99% {
		opacity: 0;
		z-index: 100000;
	}
	100% {
		opacity: 0;
		z-index: -1;
	}
}

body.landing {
	text-decoration: none;
}

body.landing:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

body.landing:before {
	-moz-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
	-webkit-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
	-ms-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
	animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
	-moz-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	color: rgba(255, 255, 255, 0.15);
	content: '\f1ce';
	cursor: default;
	display: block;
	font-size: 2em;
	height: 2em;
	left: 50%;
	line-height: 2em;
	margin: -1em 0 0 -1em;
	opacity: 0;
	position: fixed;
	text-align: center;
	top: 50%;
	width: 2em;
	z-index: -1;
}

body.landing:after {
	-moz-animation: overlay-hide 1.5s ease-in forwards !important;
	-webkit-animation: overlay-hide 1.5s ease-in forwards !important;
	-ms-animation: overlay-hide 1.5s ease-in forwards !important;
	animation: overlay-hide 1.5s ease-in forwards !important;
	background: #E9ECF5;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
}

body.landing.is-loading:before {
	-moz-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
	-webkit-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
	-ms-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
	animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
	z-index: 100001;
}

body.landing.is-loading:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	opacity: 1;
	z-index: 100000;
}

@media (-webkit-min-device-pixel-ratio: 2) {
	body.landing:before {
		line-height: 2.025em;
	}
}

/* Section/Article */
section.special, article.special {
	text-align: center;
}

header p {
	color: #ffffff;
	position: relative;
	margin: 0 0 1.5em 0;
}

header h2 + p {
	font-size: 0.85em;
	margin-top: -1em;
	line-height: 1.4em;
}

header h3 + p {
	color: #ffffff;
	font-size: 1em;
	margin-top: -0.8em;
	line-height: 1.75em;
}

header h4 + p,
header h5 + p,
header h6 + p {
	font-size: 0.9em;
	margin-top: -0.6em;
	line-height: 1.5em;
}

header.major {
	margin: 2em 0 5em 0;
	position: relative;
	/*text-align: center;*/
}

header.major:after {
	/*background: #e9ecf5;*/
	content: '';
	display: inline-block;
	height: 0.2em;
	max-width: 20em;
	width: 75%;
}

header.major h2 {
	color: #fff;
}

footer.major {
	margin: 4em 0 0 0;
}

/* Form */
form {
	margin: 0 0 2em 0;
}

label {
	color: #ffffff;
	display: block;
	font-size: 0.9em;
	font-weight: 300;
	margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: border-color 0.2s ease-in-out;
	-webkit-transition: border-color 0.2s ease-in-out;
	-ms-transition: border-color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out;
	background: transparent;
	border-radius: 4px;
	border: solid 1px rgba(255, 255, 255, 0.3);
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
select:invalid,
textarea:invalid {
	box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
	border-color: #32a332;
}

.select-wrapper {
	text-decoration: none;
	display: block;
	position: relative;
}

.select-wrapper:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.select-wrapper:before {
	color: rgba(255, 255, 255, 0.3);
	content: '\f078';
	display: block;
	height: 3em;
	line-height: 3em;
	pointer-events: none;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 3em;
}

.select-wrapper select::-ms-expand {
	display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
	height: 3em;
}

textarea {
	padding: 0.75em 1em;
}

select option {
	background-color: #1c1d26;
	color: #ffffff;
}

select:focus::-ms-value {
	background: transparent;
}

input[type="checkbox"],
input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	display: block;
	float: left;
	margin-right: -2em;
	opacity: 0;
	width: 1em;
	z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.75);
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: 100;
	padding-left: 2.55em;
	padding-right: 0.75em;
	position: relative;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
	border-radius: 4px;
	border: solid 1px rgba(255, 255, 255, 0.3);
	content: '';
	display: inline-block;
	height: 1.8em;
	left: 0;
	line-height: 1.725em;
	position: absolute;
	text-align: center;
	top: 0;
	width: 1.8em;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
	background: rgba(255, 255, 255, 0.25);
	color: #ffffff;
	content: '\f00c';
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
	border-color: #32a332;
}

input[type="checkbox"] + label:before {
	border-radius: 4px;
}

input[type="radio"] + label:before {
	border-radius: 100%;
}

::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.5) !important;
	opacity: 1.0;
}

:-moz-placeholder {
	color: rgba(255, 255, 255, 0.5) !important;
	opacity: 1.0;
}

::-moz-placeholder {
	color: rgba(255, 255, 255, 0.5) !important;
	opacity: 1.0;
}

:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.5) !important;
	opacity: 1.0;
}

.formerize-placeholder {
	color: rgba(255, 255, 255, 0.5) !important;
	opacity: 1.0;
}

/* Box */
.box {
	border-radius: 4px;
	border: solid 1px rgba(255, 255, 255, 0.3);
	margin-bottom: 2em;
	padding: 1.5em;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
	margin-bottom: 0;
}

.box.alt {
	border: 0;
	border-radius: 0;
	padding: 0;
}

/* Icon */
.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon > .label {
	display: none;
}

.icon.alt {
	text-decoration: none;
}

.icon.alt:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon.alt:before {
	color: #4aba4a !important;
}

.icon.major {
	cursor: default;
	display: inline-block;
	height: 6em;
	line-height: 6em;
	margin: 0 0 0.5em 0;
	text-align: center;
	width: 6em;
}

.icon.major:before {
	font-size: 3em;
}

.icon.major.alt {
	text-decoration: none;
}

.icon.major.alt:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon.major.alt:before {
	color: #4aba4a;
	/*text-shadow: 1px 0 0 #ffffff, -1px 0 0 #ffffff, 0 1px 0 #ffffff, 0 -1px 0 #ffffff;*/
}

/* Image */
.image {
	border-radius: 4px;
	border: 0;
	display: inline-block;
	position: relative;
	overflow: hidden;
}

.image:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url("images/overlay.png");
	width: 100%;
	height: 100%;
	z-index: 1;
}

.image img {
	border-radius: 4px;
	display: block;
}

.image.left {
	float: left;
	margin: 0 1.5em 1em 0;
	top: 0.25em;
}

.image.right {
	float: right;
	margin: 0 0 1em 1.5em;
	top: 0.25em;
}

.image.left, .image.right {
	max-width: 100%;
}

.image.left img, .image.right img {
	width: 100%;
}

.image.fit {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
}

.image.fit img {
	width: 100%;
	height: 100%;
}

/* List */
ol {
	list-style: decimal;
	margin: 0 0 2em 0;
	padding-left: 1.25em;
}

ol li {
	padding-left: 0.25em;
}

ul {
	list-style: disc;
	margin: 0 0 2em 0;
	padding-left: 1em;
}

ul li {
	padding-left: 0.5em;
}

ul.alt {
	list-style: none;
	padding-left: 0;
}

ul.alt li {
	border-top: solid 1px rgba(255, 255, 255, 0.3);
	padding: 0.5em 0;
}

ul.alt li:first-child {
	border-top: 0;
	padding-top: 0;
}

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.icons li {
	display: inline-block;
	height: 2.5em;
	line-height: 2.5em;
	padding: 0 0.5em;
}

ul.icons li .icon {
	font-size: 0.8em;
}

ul.icons li .icon:before {
	font-size: 2em;
}

ul.actions {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.actions li {
	display: inline-block;
	padding: 0 1em 0 0;
	vertical-align: middle;
}

ul.actions li:last-child {
	padding-right: 0;
}

ul.actions.small li {
	padding: 0 0.5em 0 0;
}

ul.actions.vertical li {
	display: block;
	padding: 1em 0 0 0;
}

ul.actions.vertical li:first-child {
	padding-top: 0;
}

ul.actions.vertical li > * {
	margin-bottom: 0;
}

ul.actions.vertical.small li {
	padding: 0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
	padding-top: 0;
}

ul.actions.fit {
	display: table;
	margin-left: -1em;
	padding: 0;
	table-layout: fixed;
	width: calc(100% + 1em);
}

ul.actions.fit li {
	display: table-cell;
	padding: 0 0 0 1em;
}

ul.actions.fit li > * {
	margin-bottom: 0;
}

ul.actions.fit.small {
	margin-left: -0.5em;
	width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
	padding: 0 0 0 0.5em;
}

dl {
	margin: 0 0 2em 0;
}

/* Table */
.table-wrapper {
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
}

table {
	margin: 0 0 2em 0;
	width: 100%;
}

table tbody tr {
	border: solid 1px rgba(255, 255, 255, 0.3);
	border-left: 0;
	border-right: 0;
}

table tbody tr:nth-child(2n + 1) {
	background-color: rgba(255, 255, 255, 0.075);
}

table td {
	padding: 0.75em 0.75em;
}

table th {
	color: #ffffff;
	font-size: 0.9em;
	font-weight: 300;
	padding: 0 0.75em 0.75em 0.75em;
	text-align: left;
}

table thead {
	border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}

table tfoot {
	border-top: solid 1px rgba(255, 255, 255, 0.3);
}

table.alt {
	border-collapse: separate;
}

table.alt tbody tr td {
	border: solid 1px rgba(255, 255, 255, 0.3);
	border-left-width: 0;
	border-top-width: 0;
}

table.alt tbody tr td:first-child {
	border-left-width: 1px;
}

table.alt tbody tr:first-child td {
	border-top-width: 1px;
}

table.alt thead {
	border-bottom: 0;
}

table.alt tfoot {
	border-top: 0;
}

/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
.buttonb {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	background-color: transparent;
	border-radius: 4px;
	border: 0;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
	color: #ffffff !important;
	cursor: pointer;
	display: inline-block;
	font-weight: 300;
	height: 3em;
	line-height: 3em;
	padding: 0 2.25em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}

input[type="submit"]:hover, input[type="submit"]:active,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="button"]:hover,
input[type="button"]:active,
.buttonb:hover,
.buttonb:active {
	box-shadow: inset 0 0 0 1px #32a332;
	color: #32a332 !important;
	background-color: #fff;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	background-color: transparent;
	border-radius: 4px;
	border: 0;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
	color: #ffffff !important;
	cursor: pointer;
	display: inline-block;
	font-weight: 300;
	height: 3em;
	line-height: 3em;
	padding: 0 2.25em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}

input[type="submit"]:hover, input[type="submit"]:active,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="button"]:hover,
input[type="button"]:active,
.button:hover,
.button:active {
	box-shadow: inset 0 0 0 1px #32a332;
	color: #32a332 !important;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.button:active {
	background-color: rgba(228, 76, 101, 0.15);
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
.button.icon:before {
	margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
.button.fit {
	display: block;
	margin: 0 0 1em 0;
	width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
.button.small {
	font-size: 0.8em;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
.button.big {
	font-size: 1.35em;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
.button.special {
	background-color: #4aba4a;
	box-shadow: none;
	text-decoration: none;
	font-weight: 300;
	color: #fff !important;
	transition: all .1s ease;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
.button.special:hover {
	font-weight: 300;
	background-color: #32a332;
	color: #fff !important;
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
.button.special:active {
	background-color: green;
}

input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
.button.disabled,
.button:disabled {
	background-color: rgba(255, 255, 255, 0.3) !important;
	box-shadow: none !important;
	color: #ffffff !important;
	cursor: default;
	opacity: 0.25;
}

/* Goto Next */
.goto-next {
	border: 0;
	bottom: 0;
	display: block;
	height: 5em;
	left: 50%;
	margin: 0 0 0 -5em;
	overflow: hidden;
	position: absolute;
	text-indent: 10em;
	white-space: nowrap;
	width: 10em;
	z-index: 1;
}

.goto-next:before {
	/*background-image: url("images/arrows.svg");*/
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	content: '';
	display: block;
	height: 1.5em;
	left: 50%;
	margin: -0.75em 0 0 -1em;
	position: absolute;
	top: 50%;
	width: 2em;
	z-index: 1;
}

/* Spotlight */
.spotlight {
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.spotlight:nth-last-of-type(1) {
	z-index: 1;
}

.spotlight:nth-last-of-type(2) {
	z-index: 2;
}

.spotlight:nth-last-of-type(3) {
	z-index: 3;
}

.spotlight:nth-last-of-type(4) {
	z-index: 4;
}

.spotlight:nth-last-of-type(5) {
	z-index: 5;
}

.spotlight:nth-last-of-type(6) {
	z-index: 6;
}

.spotlight:nth-last-of-type(7) {
	z-index: 7;
}

.spotlight:nth-last-of-type(8) {
	z-index: 8;
}

.spotlight:nth-last-of-type(9) {
	z-index: 9;
}

.spotlight:nth-last-of-type(10) {
	z-index: 10;
}

.spotlight:nth-last-of-type(11) {
	z-index: 11;
}

.spotlight:nth-last-of-type(12) {
	z-index: 12;
}

.spotlight:nth-last-of-type(13) {
	z-index: 13;
}

.spotlight:nth-last-of-type(14) {
	z-index: 14;
}

.spotlight:nth-last-of-type(15) {
	z-index: 15;
}

.spotlight:nth-last-of-type(16) {
	z-index: 16;
}

.spotlight:nth-last-of-type(17) {
	z-index: 17;
}

.spotlight:nth-last-of-type(18) {
	z-index: 18;
}

.spotlight:nth-last-of-type(19) {
	z-index: 19;
}

.spotlight:nth-last-of-type(20) {
	z-index: 20;
}

.spotlight:before {
	background-image: url("images/overlay.png");
	content: '';
	display: block;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}

.spotlight .image.main {
	display: none;
}

.spotlight .image.main img {
	position: relative;
}

.spotlight .content {
	-moz-transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	-moz-transition: -moz-transform 1s ease, opacity 1s ease;
	-webkit-transition: -webkit-transform 1s ease, opacity 1s ease;
	-ms-transition: -ms-transform 1s ease, opacity 1s ease;
	transition: transform 1s ease, opacity 1s ease;
	background: rgba(23, 24, 32, 0.95);
	border-style: solid;
	opacity: 0.7;
	position: absolute;
}

.spotlight .goto-next {
	-moz-transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	-moz-transition: -moz-transform 0.75s ease, opacity 1s ease-in;
	-webkit-transition: -webkit-transform 0.75s ease, opacity 1s ease-in;
	-ms-transition: -ms-transform 0.75s ease, opacity 1s ease-in;
	transition: transform 0.75s ease, opacity 1s ease-in;
	-moz-transition-delay: 0.5s;
	-webkit-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
	transition-delay: 0.5s;
	opacity: 1;
}

.spotlight.top .content, .spotlight.bottom .content {
	left: 0;
	padding: 5.1em 0 3.1em 0;
	width: 100%;
}

.spotlight.top .content {
	border-bottom-width: 0.35em;
	top: 0;
}

.spotlight.bottom .content {
	border-top-width: 0.35em;
	bottom: 0;
}

.spotlight.left .content, .spotlight.right .content {
	height: 101%;
	padding: 6em 3em;
	top: 0;
	width: 28em;
}

.spotlight.left .content {
	border-right-width: 0.35em;
	left: 0;
}

.spotlight.right .content {
	border-left-width: 0.35em;
	right: 0;
}

.spotlight.style1 .content {
	border-color: #e9ecf5;
}

.spotlight.style2 .content {
	border-color: #e9ecf5;
}

.spotlight.style3 .content {
	border-color: #e9ecf5;
}

.spotlight.inactive .content {
	opacity: 0;
}

.spotlight.inactive .goto-next {
	-moz-transform: translate(0, 1.5em);
	-webkit-transform: translate(0, 1.5em);
	-ms-transform: translate(0, 1.5em);
	transform: translate(0, 1.5em);
	opacity: 0;
}

.spotlight.inactive.top .content {
	-moz-transform: translate(0, -5em);
	-webkit-transform: translate(0, -5em);
	-ms-transform: translate(0, -5em);
	transform: translate(0, -5em);
}

.spotlight.inactive.bottom .content {
	-moz-transform: translate(0, 5em);
	-webkit-transform: translate(0, 5em);
	-ms-transform: translate(0, 5em);
	transform: translate(0, 5em);
}

.spotlight.inactive.left .content {
	-moz-transform: translate(-5em, 0);
	-webkit-transform: translate(-5em, 0);
	-ms-transform: translate(-5em, 0);
	transform: translate(-5em, 0);
}

.spotlight.inactive.right .content {
	-moz-transform: translate(5em, 0);
	-webkit-transform: translate(5em, 0);
	-ms-transform: translate(5em, 0);
	transform: translate(5em, 0);
}

body.is-touch .spotlight {
	background-attachment: scroll;
}

/* Wrapper */
.wrapper {
	padding: 6em 0 4em 0;
}

.wrapper.style2 {
	background: #272833;
}

.wrapper.style2 input[type="text"]:focus,
.wrapper.style2 input[type="password"]:focus,
.wrapper.style2 input[type="email"]:focus,
.wrapper.style2 select:focus,
.wrapper.style2 textarea:focus {
	border-color: rgba(255, 255, 255, 0.5);
}

.wrapper.style2 input[type="submit"]:hover, .wrapper.style2 input[type="submit"]:active,
.wrapper.style2 input[type="reset"]:hover,
.wrapper.style2 input[type="reset"]:active,
.wrapper.style2 input[type="button"]:hover,
.wrapper.style2 input[type="button"]:active,
.wrapper.style2 .button:hover,
.wrapper.style2 .button:active {
	background-color: rgba(255, 255, 255, 0.075) !important;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5) !important;
	color: #ffffff !important;
}

.wrapper.style2 input[type="submit"]:active,
.wrapper.style2 input[type="reset"]:active,
.wrapper.style2 input[type="button"]:active,
.wrapper.style2 .button:active {
	background-color: rgba(255, 255, 255, 0.25) !important;
}

.wrapper.style2 input[type="submit"].special,
.wrapper.style2 input[type="reset"].special,
.wrapper.style2 input[type="button"].special,
.wrapper.style2 .button.special {
	background-color: #E9ECF5;
	color: #000 !important;
}

.wrapper.style2 input[type="submit"].special:hover, .wrapper.style2 input[type="submit"].special:active,
.wrapper.style2 input[type="reset"].special:hover,
.wrapper.style2 input[type="reset"].special:active,
.wrapper.style2 input[type="button"].special:hover,
.wrapper.style2 input[type="button"].special:active,
.wrapper.style2 .button.special:hover,
.wrapper.style2 .button.special:active {
	background-color: rgba(255, 255, 255, 0.075) !important;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5) !important;
	color: #ffffff !important;
}

.wrapper.style2 input[type="submit"].special:active,
.wrapper.style2 input[type="reset"].special:active,
.wrapper.style2 input[type="button"].special:active,
.wrapper.style2 .button.special:active {
	background-color: rgba(255, 255, 255, 0.25) !important;
}

.wrapper.fade-down > .container {
	-moz-transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	-moz-transition: -moz-transform 1s ease, opacity 1s ease;
	-webkit-transition: -webkit-transform 1s ease, opacity 1s ease;
	-ms-transition: -ms-transform 1s ease, opacity 1s ease;
	transition: transform 1s ease, opacity 1s ease;
	opacity: 1;
}

.wrapper.fade-down.inactive > .container {
	-moz-transform: translate(0, -1em);
	-webkit-transform: translate(0, -1em);
	-ms-transform: translate(0, -1em);
	transform: translate(0, -1em);
	opacity: 0;
}

.wrapper.fade-up > .container {
	-moz-transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	-moz-transition: -moz-transform 1s ease, opacity 1s ease;
	-webkit-transition: -webkit-transform 1s ease, opacity 1s ease;
	-ms-transition: -ms-transform 1s ease, opacity 1s ease;
	transition: transform 1s ease, opacity 1s ease;
	opacity: 1;
}

.wrapper.fade-up.inactive > .container {
	-moz-transform: translate(0, 1em);
	-webkit-transform: translate(0, 1em);
	-ms-transform: translate(0, 1em);
	transform: translate(0, 1em);
	opacity: 0;
}

.wrapper.fade > .container {
	-moz-transition: opacity 1s ease;
	-webkit-transition: opacity 1s ease;
	-ms-transition: opacity 1s ease;
	transition: opacity 1s ease;
	opacity: 1;
}

.wrapper.fade.inactive > .container {
	opacity: 0;
}

/* Dropotron */
.underline a {
	position: relative;
	color: #adb1bc;
	cursor: pointer;
	font-size: 5px;
}

.underline a:after {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0em;
	width: 0;
	height: 1px;
	background-color: #adb1bc;
	content: "";
	transition: width 0.25s;
}

.underline a:hover {
	color: #adb1bc;
}

.underline a:hover:after {
	width: 100%;
}

.dropotron {
	background: #e9ecf5;
	border-radius: 10px;
	box-shadow: 0.075em 0.075em 0.95em 0.65em rgba(255, 255, 255, 0.1);
	list-style: none;
	margin-top: calc(-0.25em + 1px);
	min-width: 12em;
	padding: 0.25em 0 1.1em 0;
}

.dropotron > li {
	border-top: solid 0px rgba(255, 255, 255, 0.035);
	padding: 0 0.3em;
}

.dropotron > li a, .dropotron > li span {
	border: 0;
	color: #000;
	display: block;
	padding: 0.5em 1.1em 0em 1.1em;
	font-size: 15px;
	text-decoration: none;
	transition: all .0s ease;
}

.dropotron > li a:hover {
	color: #000;
	font-size: 15px;
	font-weight: 300;
}

.dropotron > li:first-child {
	border-top: 0;
}

.dropotron > li.active > a, .dropotron > li.active > span {
	color: #fff;
}

.dropotron.level-0 {
	font-size: 0.8em;
	margin-top: 1em;
}

.dropotron.level-0:before {
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #e9ecf5;
	content: '';
	display: block;
	height: 1em;
	position: absolute;
	right: 1.5em;
	top: -0.5em;
	width: 1em;
}

body.landing .dropotron.level-0 {
	margin-top: 0;
}

/* Header */
#page-wrapper {
	padding-top: 3em;
}

#page-wrapper .wrapper {
	padding: 0;
}

#page-wrapper .wrapper2 {
	padding: 3em 0 0 0;
}

#header {
	background: rgba(42, 41, 52, 0.615);
	box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
	cursor: default;
	height: 3.5em;
	left: 0;
	line-height: 3.5em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

#header .logo {
	margin: 0;
}

#header #logo a {
	font-size: 1.4em;
	transition: all .1s ease;
}

#header #logo a:hover {
	color: #000;
}

#header nav {
	position: absolute;
	right: 3em;
	top: 0;
}

#header nav ul {
	margin: 0;
}

#header nav ul li {
	display: inline-block;
	margin-left: 1em;
}

#header nav ul li a, #header nav ul li span {
	border: 0;
	color: #FFFFFF;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
	font-weight: 400;
	display: inline-block;
	height: inherit;
	line-height: inherit;
	outline: 0;
	transition: all .1s ease;
	text-decoration: none;
}

#header nav ul li a.zakaz:hover {
	color: #C4C8D3;
}

#header nav ul li a.social:hover {
	color: #C4C8D3;
}

#header nav ul li a.team-l:hover {
	color: #C4C8D3;
}

#header nav ul li a.team-b:hover {
	color: #C4C8D3;
}

#header nav ul li a.allmenu:hover {
	color: #C4C8D3;
}

#header nav ul li a.button, #header nav ul li span.button {
	height: 2em;
	line-height: 2em;
	padding: 0 1.25em;
	text-decoration: none;
}

#header nav ul li a:not(.button):before, #header nav ul li span:not(.button):before {
	margin-right: 0.5em;
}

#header nav ul li.active > a, #header nav ul li.active > span {
	color: #ffffff;
}

#header nav ul li > ul {
	display: none;
}

#header .stock {
	background-color: red;
	height: auto;
	position: fixed;
	top: 7em;
	left: 0.5em;
	right: 0.5em;
	width: auto;
	z-index: 110;
	border-radius: 10px;
}

#header .stock p {
	color: #fff;
	font-size: 1.3em;
	font-weight: 400;
	text-align: center;
	padding: 0 1em 0 1em;
	margin: 0;
}

#header .stock p a span {
	color: #fff;
	font-weight: 400;
	font-size: 1.5em;
	font-family: 'Roboto Condensed', sans-serif;
}

#header .stock p a:hover {
	font-weight: 300;
}

#three .stockbar {
	background-color: green;
	height: auto;
	position: fixed;
	top: 10em;
	left: 0;
	right: 0;
	width: auto;
	z-index: 110;
}

#three .stockbar p {
	color: #fff;
	font-size: 1.3em;
	font-weight: 400;
	text-align: center;
	padding: 0.7em;
	margin: 0;
}

#three .stockbar p a span {
	color: #fff;
	font-weight: 400;
	font-size: 1.5em;
	font-family: 'Roboto Condensed', sans-serif;
}

#three .stockbar p a:hover {
	font-weight: 300;
}

body.landing #page-wrapper {
	padding-top: 0;
}

body.landing #header {
	/*background: transparent;*/
	box-shadow: none;
	position: fixed;
}

.logo-b {
	height: 7%;
	width: 7%;
	margin-left: 0.5em;
	margin-top: -0.5em;
}

#banner .content header p a.button {
	visibility: hidden;
	font-size: 0.1em;
}

#four .container p a.button {
	visibility: hidden;
	font-size: 0.1em;
}

#four .container .hidden_text p {
	visibility: hidden;
	font-size: 0.1em;
}

#four_head .main-head .hidden_text p {
	visibility: hidden;
	font-size: 0.1em;
}

#four_head .main-head p a.button {
	visibility: hidden;
	font-size: 0.1em;
}

#banner {
	background-attachment: fixed;
	background-color: #272833;
	background-image: url("../img/banner.png");
	background-position: center center;
	background-size: cover;
	box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.7);
	min-height: 100vh;
	position: relative;
	text-align: center;
	z-index: 21;
}

#banner:before {
	content: '';
	display: inline-block;
	height: 100vh;
	vertical-align: middle;
	width: 1%;
}

#banner:after {
	/*background-image: -moz-linear-gradient(top, rgba(68, 87, 236, 0.01), rgba(234, 34, 83, 0.1));			
			background: -webkit-gradient(linear, top, rgba(68, 87, 236, 0.6), rgba(234, 34, 83, 0.6)), url("images/overlay.png");			
			background-image: -ms-linear-gradient(top, rgba(68, 87, 236, 0.6), rgba(234, 34, 83, 0.6)), url("images/overlay.png");
			background-image: linear-gradient(top, rgba(68, 87, 236, 0.6), rgba(234, 34, 83, 0.6)), url("images/overlay.png");*/
	content: '';
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.77);
}

#banner .content {
	display: inline-block;
	margin-right: 1%;
	max-width: 95%;
	padding: 6em;
	position: relative;
	text-align: center;
	vertical-align: middle;
	z-index: 1;
}

#banner .content header {
	display: inline-block;
	vertical-align: middle;
}

#banner .content header h2 {
	font-size: 4.1em;
	font-weight: 300;
	margin: 0;
}

#banner .content header p {
	margin: 0.5em 0 0 0;
	top: 0;
	font-size: 1.8em;
	font-weight: 900;
	text-decoration: none;
}

#banner .content header p a span {
	font-size: 0.8em;
	font-weight: 300;
	/*font-family: 'Roboto Condensed', sans-serif;*/
}

#banner .content header p a {
	font-size: 0.7em;
	font-family: 'Conv_RobotoCondensed-Regular';
	font-weight: 300;
}

#banner .content .image {
	border-radius: 100%;
	display: inline-block;
	height: 18em;
	margin-left: 3em;
	vertical-align: middle;
	width: 18em;
}

#banner .content .image img {
	border-radius: 100%;
	display: block;
	width: 100%;
}

body.is-touch #banner {
	background-attachment: scroll;
}

#one .content h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	color: #fff;
}

#one .content .container .rows p b {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	color: #fff;
}

#one .content .container .rows header p {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
}

#two .content h2, p, a {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	color: #fff;
}

#three .content h2, p, a {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
}

#main2 .major .link h3 {
	font-weight: 500;
}

#four .container .major h2, p {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
}

#five .container header h2, p {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
}

#five .container header p {
	font-size: 1.1em;
	font-weight: 300;
}

#four .container .main_text p {
	font-size: 1em;
	line-height: 1.2em;
	font-weight: 300;
	text-transform: uppercase;
	color: #000;
}

#six {
	margin-top: -10px;
	margin-bottom: -120px;
}

#six {
	background-attachment: fixed;
	background-color: #272833;
	background-image: url("../img/sliderfon.jpg");
	background-position: center center;
	background-size: cover;
	box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.9);
	position: relative;
	text-align: center;
}

#six .container {
	margin-top: -35px;
}

#six .container #da-slider .da-slide h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 4.1em;
	color: #000;
}

#six .container #da-slider .da-slide p {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 1.32em;
	line-height: 1.2em;
	color: #000;
}

#six .container #da-slider .da-slide b {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	color: #000;
}

#four {
	background-attachment: fixed;
	/*background-color: #272833;*/
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2)), url("../img/banner.png");
	background-position: center center;
	background-size: cover;
	position: relative;
}

/* Footer */
#footer {
	background: #000;
	padding: 1.5em 0em 2em 0em;
	text-align: center;
}

#footer ul.icons {
	margin-bottom: 0;
}

#footer .icons .icon.alt {
	text-decoration: none;
}

#footer .icons .icon.alt:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

#footer .icons .icon.alt:before {
	color: #EDEFFB !important;
}

#footer .copyright {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.8em;
	line-height: 2em;
	margin: 1em 0 0 0;
	padding: 0;
	text-align: center;
}

#footer .copyright li {
	border-left: solid 1px rgba(255, 255, 255, 0.3);
	display: inline-block;
	list-style: none;
	margin-left: 1.5em;
	padding-left: 1.5em;
	font-family: 'Roboto Condensed', sans-serif;
}

#footer .copyright li:first-child {
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
}

#footer .copyright li {
	color: inherit;
	font-size: 1em;
}

#footer .partners {
	margin: 0.5em 0em 0em 0em;
}

#footer .partners li {
	margin-left: -0.55em;
}

#scrollup {
	position: fixed;
	opacity: 0.8;
	padding: 15px 10px 10px;
	background: #aaa;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	left: 10px;
	bottom: 10px;
	display: none;
	cursor: pointer;
	z-index: 1000000;
}

/* XLarge */
@media screen and (max-width: 1680px) {
	/* Basic */
	body, input, select, textarea {
		font-size: 13pt;
	}
}

/* Large */
@media screen and (max-width: 1280px) {
	/* Basic */
	body, input, select, textarea {
		font-size: 11.5pt;
	}
	/* Spotlight */
	.spotlight.top .content {
		padding: 3.825em 0 1.825em 0;
	}
	.spotlight.bottom .content {
		padding: 3.825em 0 2.95em 0;
	}
	.spotlight.left .content, .spotlight.right .content {
		padding: 4.5em 2.5em;
		width: 25em;
	}
	/* Wrapper */
	.wrapper {
		padding: 4.5em 0 2.5em 0;
	}
	/* Dropotron */
	.dropotron.level-0 {
		font-size: 1em;
	}
	/* Banner */
	#banner .content {
		padding: 4.5em;
	}
	/* Footer */
	#footer {
		padding: 2em 0;
	}
}

/* Medium */
@media screen and (max-width: 980px) {
	/* Basic */
	body, input, select, textarea {
		font-size: 12pt;
	}
	#header .logo-b {
		display: none;
	}
	#header .logo h1 a {
		text-decoration: none;
	}
	.mobile-hidden {
		visibility: hidden;
	}
	.s-dark-item {
		margin-bottom: 3em;
	}
	/* Spotlight */
	.spotlight {
		background-attachment: scroll;
		height: auto;
	}
	.spotlight .image.main {
		display: block;
		margin: 0;
		max-height: 40vh;
		overflow: hidden;
	}
	.spotlight .content {
		background-color: #1c1d26;
		border-width: 0 !important;
		border-top-width: 0.35em !important;
		bottom: auto !important;
		left: auto !important;
		padding: 4.5em 2.5em 2.5em 2.5em !important;
		position: relative;
		right: auto !important;
		text-align: center;
		top: auto !important;
		width: 100% !important;
	}
	.spotlight .goto-next {
		display: none;
	}
	.spotlight .goto-next-text {
		text-decoration: none;
	}
	/* Wrapper */
	.wrapper {
		padding: 4.5em 2.5em 2.5em 2.5em;
	}
	/* Banner */
	#banner {
		background-attachment: scroll;
	}
	#banner .goto-next {
		height: 7em;
	}
	#banner .content {
		padding: 9em 0;
		text-align: center;
	}
	#banner .content header {
		display: block;
		margin: 0 0 2em 0;
		text-align: center;
	}
	#banner .content header p a {
		text-decoration: none;
	}
	#banner .content .image {
		margin: 0;
	}
	/* Footer */
	#footer {
		padding: 2em 0;
	}
}

/* Small */
#navPanel, #titleBar {
	display: none;
}

@media screen and (max-width: 736px) {
	/* Basic */
	#vk_community_messages {
		display: none;
	}
	.mobile-hidden {
		visibility: hidden;
	}
	#four .container .main_text p {
		font-size: 1.2em;
		line-height: 1.3em;
	}
	.s-dark-item {
		margin-bottom: 4em;
	}
	html, body {
		overflow-x: hidden;
	}
	body, input, select, textarea {
		font-size: 12pt;
	}
	h2 {
		font-size: 1.9em;
	}
	h3 {
		font-size: 1.3em;
	}
	h4 {
		font-size: 1em;
	}
	.s-dark {
		text-align: center;
	}
	/* Section/Article */
	header p br {
		display: none;
	}
	header h2 + p {
		font-size: 0.9em;
		margin-top: 1em;
	}
	header h3 + p {
		font-size: 1em;
	}
	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
	}
	header.major {
		margin: 3em 0 2em 0;
	}
	.header-content {
		text-align: center;
	}
	/* Goto Next */
	.goto-next:before {
		height: 0.8em;
		margin: -0.4em 0 0 -0.6em;
		width: 1.2em;
	}
	/* Spotlight */
	.spotlight {
		box-shadow: 0 0.125em 0.5em 0 rgba(0, 0, 0, 0.25);
	}
	.spotlight .image.main {
		max-height: 60vh;
	}
	.spotlight .content {
		border-top-width: 0.2em !important;
		padding: 3.25em 1.5em 1.25em 1.5em !important;
	}
	/* Wrapper */
	.wrapper {
		padding: 3.25em 1.5em 1.25em 1.5em;
	}
	/* Header */
	#header {
		display: block;
	}
	#header nav ul li a {
		font-weight: 300;
		font-size: 0.83em;
	}
	#header nav {
		position: absolute;
		right: 1.1em;
		top: 0;
	}
	/* Banner 
			#banner .content header p a.button {
				visibility: visible;
				font-size: 0.5em;
				margin-bottom: 90px;
			}*/
	#four .container p a.button {
		visibility: visible;
		font-size: 1em;
		margin-bottom: 5em;
	}
	#five {
		display: none;
	}
	#four .container .hidden_text p {
		visibility: visible;
		font-size: 1em;
		margin-bottom: 0;
		text-transform: uppercase;
		color: #797d87;
	}
	#four_head .main-head p a.button {
		visibility: visible;
		font-size: 1em;
		margin-bottom: 5em;
	}
	/*#four_head .main-head .hidden_text p {
				visibility: visible;
				font-size: 0.5em;
				margin-bottom: 0;
			}*/
	#banner .content .content-button-banner {
		visibility: hidden;
	}
	#four a.goto-next scrolly {
		visibility: hidden;
	}
	#banner {
		box-shadow: 0 0.125em 0.5em 0 rgba(0, 0, 0, 0.25);
		min-height: calc(100vh - 44px);
	}
	#banner:before {
		height: calc(100vh - 44px);
	}
	#banner .content {
		padding: 4.0625em 1.5em 4.875em 1.5em;
	}
	#banner .content header h2 {
		display: none;
	}
	#banner .content header p a {
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		font-size: 1em;
	}
	#banner .content header p {
		font-size: 2em;
		line-height: 1.3em;
	}
	#banner .content .image {
		height: 9em;
		width: 9em;
	}
	/* Off-Canvas Navigation */
	#page-wrapper {
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transition: -moz-transform 0.5s ease;
		-webkit-transition: -webkit-transform 0.5s ease;
		-ms-transition: -ms-transform 0.5s ease;
		transition: transform 0.5s ease;
		padding-bottom: 1px;
		padding-top: 44px !important;
	}
	#titleBar {
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transition: -moz-transform 0.5s ease;
		-webkit-transition: -webkit-transform 0.5s ease;
		-ms-transition: -ms-transform 0.5s ease;
		transition: transform 0.5s ease;
		display: block;
		height: 44px;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10001;
		background: #e9ecf5;
		box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
	}
	#titleBar .title {
		color: #ffffff;
		display: block;
		font-weight: 300;
		height: 44px;
		line-height: 44px;
		text-align: center;
		visibility: hidden;
	}
	#titleBar .title a {
		color: inherit;
		border: 0;
	}
	#titleBar .toggle {
		text-decoration: none;
		height: 45px;
		left: 0;
		position: absolute;
		top: 0;
		width: 55px;
		outline: 0;
		border: 0;
	}
	#titleBar .toggle:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
	}
	#titleBar .toggle:before {
		background: #e9ecf5;
		color: #000;
		content: '\f0c9';
		display: block;
		font-size: 18px;
		height: 44px;
		left: 0;
		line-height: 44px;
		position: absolute;
		text-align: center;
		top: 0;
		width: 54px;
		border: 1px solid #67697c;
	}
	#navPanel {
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transform: translateX(-275px);
		-webkit-transform: translateX(-275px);
		-ms-transform: translateX(-275px);
		transform: translateX(-275px);
		-moz-transition: -moz-transform 0.5s ease;
		-webkit-transition: -webkit-transform 0.5s ease;
		-ms-transition: -ms-transform 0.5s ease;
		transition: transform 0.5s ease;
		display: block;
		height: 100%;
		left: 0;
		overflow-y: auto;
		position: fixed;
		top: 0;
		width: 275px;
		z-index: 10002;
		background: #181920;
		padding: 0.75em 1.25em;
	}
	#navPanel .link {
		border: 0;
		border-top: solid 1px rgba(255, 255, 255, 0.05);
		color: rgba(255, 255, 255, 0.75);
		display: block;
		height: 3em;
		line-height: 3em;
		text-decoration: none;
	}
	#navPanel .link:hover {
		color: inherit !important;
		font-weight: 900;
	}
	#navPanel .link:first-child {
		border-top: 0;
	}
	#navPanel .link.depth-0 {
		color: #ffffff;
		font-weight: 400;
	}
	#navPanel .link .indent-1 {
		display: inline-block;
		width: 1.25em;
	}
	#navPanel .link .indent-2 {
		display: inline-block;
		width: 2.5em;
	}
	#navPanel .link .indent-3 {
		display: inline-block;
		width: 3.75em;
	}
	#navPanel .link .indent-4 {
		display: inline-block;
		width: 5em;
	}
	#navPanel .link .indent-5 {
		display: inline-block;
		width: 6.25em;
	}
	body.navPanel-visible #page-wrapper {
		-moz-transform: translateX(275px);
		-webkit-transform: translateX(275px);
		-ms-transform: translateX(275px);
		transform: translateX(275px);
	}
	body.navPanel-visible #titleBar {
		-moz-transform: translateX(275px);
		-webkit-transform: translateX(275px);
		-ms-transform: translateX(275px);
		transform: translateX(275px);
	}
	body.navPanel-visible #navPanel {
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
	/* Footer */
	#footer {
		padding: 1.5em 1.5em;
	}
}

/* XSmall */
@media screen and (max-width: 480px) {
	/* Basic */
	.icon .icon.major {
		cursor: default;
		display: inline-block;
		height: 6em;
		line-height: 0em;
		margin: 0 0 0em 0;
		text-align: center;
		width: 6em;
	}
	#footer ul .partners {
		display: none;
	}
	#footer #scrollup img {
		width: 25px;
		height: 25px;
	}
	html, body {
		min-width: 320px;
	}
	body, input, select, textarea {
		font-size: 12pt;
	}
	#header {
		display: block;
	}
	#header nav {
		position: absolute;
		right: 1em;
		top: 0;
	}
	#header nav ul {
		padding-left: 0;
	}
	#header nav ul li {
		margin-left: 0;
	}
	#header nav ul li a {
		font-weight: 300;
		font-size: 0.8em;
	}
	/* List */
	ul.actions {
		margin: 0 0 2em 0;
	}
	ul.actions li {
		display: block;
		padding: 1em 0 0 0;
		text-align: center;
		width: 100%;
	}
	ul.actions li:first-child {
		padding-top: 0;
	}
	ul.actions li > * {
		margin: 0 !important;
		width: 50%;
	}
	ul.actions.small li {
		padding: 0.5em 0 0 0;
	}
	ul.actions.small li:first-child {
		padding-top: 0;
	}
	/* Button */
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		padding: 0px 25px;
	}
	/* Spotlight */
	.spotlight .image.main {
		max-height: 50vh;
	}
	.spotlight .content {
		padding: 3em 1.25em 1em 1.25em !important;
	}
	/* Wrapper */
	.wrapper {
		padding: 3em 1.25em 1em 1.25em;
	}
	/* Banner */
	#banner .content {
		padding: 3em 1.5625em 5.25em 1.5625em;
	}
	/* Footer */
	#footer {
		padding: 1em 1em;
	}
	#footer .copyright {
		line-height: inherit;
	}
	#footer .copyright li {
		border-left: 0;
		display: block;
		margin: 0;
		padding: 0;
	}
}

/*Letsbar*/
#main {
	background: #EAEBED;
}

.letsbar {
	background: #EAEBED;
}

#main .container .major h2, h3 {
	color: #ffffff;
	font-family: 'Conv_RobotoCondensed-Regular';
}

.letsbar .container .rows h4 {
	color: #000;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	padding-bottom: 100px;
	font-size: 0.8em;
	text-align: justify;
}

.letsbar .container .rows .col-md-3 p {
	text-align: center;
}

.letsbar .container .rows .col-md-9 {
	margin-bottom: 25px;
}

.letsbar .container .rows .col-md-3 p a {
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 0.91em;
	display: block;
	text-align: center;
}

/* Popup */
.hidden {
	display: none;
}

#cta .inner header h4 {
	font-size: 22px;
	letter-spacing: 1px;
}

.popup-form {
	position: relative;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	box-shadow: 0.075em 0.075em 0.35em 0.45em rgba(255, 255, 255, 0.1);
	/*border: 1px solid #32a332;*/
	background-color: #E9ECF5;
	padding: 20px 30px;
	text-align: left;
	max-width: 400px;
	margin: 40px auto;
	font-family: 'Roboto Condensed', sans-serif;
}

.popup-form input, .popup-form label {
	font-family: 'Roboto Condensed', sans-serif;
	display: block;
	width: 100%;
	font-weight: 300;
	color: #000;
}

.popup-form label {
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 20px;
	color: #000;
}

.popup-form label span {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
	color: #000;
}

.popup-form input {
	border: 1px solid #67697c;
	padding: 5px 12px;
	background-color: #fff;
	box-shadow: 0.075em 0.075em 0.85em 0.65em rgba(255, 255, 255, 0.1);
}

.popup-form h4 {
	color: #000;
	font-size: 1.5em;
	letter-spacing: 0;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
}

.success {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ededed;
	text-align: center;
	color: #000;
	z-index: 200000;
	padding: 10px 10px 0 10px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-ms-grid-rows-align: center;
	align-items: center;
	line-height: 28px;
	font-size: 19px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.success .text span {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	text-align: justify;
	font-size: 1.3em;
}

.success .text p {
	font-size: 1.1em;
	color: #000;
	font-family: 'Conv_RobotoCondensed-Light';
}

.success .text h5 {
	font-family: 'Conv_RobotoCondensed-Light';
	font-size: 0.9em;
	color: #000;
}

.success.visible {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.head-title h3 {
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
}

#small-dialog {
	background: white;
	padding: 20px 30px;
	text-align: left;
	max-width: 400px;
	margin: 40px auto;
	position: relative;
}

/**
 * Fade-zoom animation for first dialog
 */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}

/**
 * Fade-move animation for second dialog
 */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
	-moz-transform: translateY(-20px) perspective(600px) rotateX(10deg);
	-ms-transform: translateY(-20px) perspective(600px) rotateX(10deg);
	-o-transform: translateY(-20px) perspective(600px) rotateX(10deg);
	transform: translateY(-20px) perspective(600px) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective(600px) rotateX(0);
	-moz-transform: translateY(0) perspective(600px) rotateX(0);
	-ms-transform: translateY(0) perspective(600px) rotateX(0);
	-o-transform: translateY(0) perspective(600px) rotateX(0);
	transform: translateY(0) perspective(600px) rotateX(0);
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	-webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
	-moz-transform: translateY(-10px) perspective(600px) rotateX(10deg);
	-ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);
	-o-transform: translateY(-10px) perspective(600px) rotateX(10deg);
	transform: translateY(-10px) perspective(600px) rotateX(10deg);
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}

/* Sidebar */
#main .container .rows .col-md-8 {
	color: #000;
	font-family: 'Conv_RobotoCondensed-Light';
	text-align: justify;
	margin-bottom: 1.5em;
}

#main .container .rows .col-md-8 .nav {
	padding-top: 1em;
}

#main .container .rows .col-md-8 ul li a {
	color: #000;
}

#main .container .rows .col-md-8 ul li a:hover {
	font-weight: 300;
}

#main .container .rows .col-md-8 .nav-tabs > li.active > a {
	color: #000;
	font-weight: 900;
	cursor: default;
	background-color: #C5CEE0;
}

#main .container .rows .col-md-8 .nav-tabs > li.active > a:hover {
	color: #fff;
	cursor: default;
	background-color: #34557B;
	border-bottom-color: transparent;
	font-weight: 900;
}

#main .container .rows .col-md-8 .nav-tabs > li.active > a:focus {
	color: #fff;
	cursor: default;
	background-color: #34557B;
	font-weight: 300;
}

#main .container .rows .col-md-4 nav {
	position: relative;
	right: 5em;
	left: 0;
	top: 0;
}

#main .container .rows .col-md-4 nav ul {
	margin: 0;
	padding-left: 0;
}

#main .container .rows .col-md-4 nav ul li {
	display: inline-block;
	margin-left: 0.5em;
}

#main .container .rows .col-md-4 nav p {
	color: #000;
	font-family: 'Conv_RobotoCondensed-Light';
	font-size: 0.7em;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 0;
	margin-right: 5em;
}

/* Main2 */
#main2 {
	background-color: #2a2f4a;
}

#main2 > * {
	border-top: solid 1px rgba(212, 212, 255, 0.1);
}

#main2 > *:first-child {
	border-top: 0;
}

#main2 > * > .inner {
	padding: 4em 0 2em 0;
	margin: 0 auto;
	max-width: 65em;
	width: calc(100% - 6em);
}

@media screen and (max-width: 736px) {
	#main2 > * > .inner {
		padding: 3em 0 1em 0;
		width: calc(100% - 3em);
	}
}

#main2.alt {
	background-color: transparent;
	border-bottom: solid 1px rgba(212, 212, 255, 0.1);
}

/* Tiles */
.tiles {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	border-top: 0 !important;
}

.tiles + * {
	border-top: 0 !important;
}

.tiles article {
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-transition: -moz-transform 0.25s ease, opacity 0.25s ease, -moz-filter 1s ease, -webkit-filter 1s ease;
	-webkit-transition: -webkit-transform 0.25s ease, opacity 0.25s ease, -webkit-filter 1s ease, -webkit-filter 1s ease;
	-ms-transition: -ms-transform 0.25s ease, opacity 0.25s ease, -ms-filter 1s ease, -webkit-filter 1s ease;
	transition: transform 0.25s ease, opacity 0.25s ease, filter 1s ease, -webkit-filter 1s ease;
	padding: 4em 4em 2em 4em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: default;
	height: 40vh;
	max-height: 40em;
	min-height: 23em;
	overflow: hidden;
	position: relative;
	width: 40%;
}

.tiles article .image {
	display: none;
}

.tiles article header {
	position: relative;
	z-index: 3;
}

.tiles article h3 {
	font-size: 1.75em;
}

.tiles article h3 a:hover {
	color: inherit !important;
}

.tiles article .link.primary {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 4;
}

.tiles article:before {
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	bottom: 0;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0.85;
	position: absolute;
	width: 100%;
	z-index: 2;
}

.tiles article:after {
	background-color: rgba(36, 41, 67, 0.25);
	content: '';
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.tiles article:hover:before {
	opacity: 0;
}

.tiles article.is-transitioning {
	-moz-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
	-moz-filter: blur(0.5em);
	-webkit-filter: blur(0.5em);
	-ms-filter: blur(0.5em);
	filter: blur(0.5em);
	opacity: 0;
}

.tiles article:nth-child(4n - 1), .tiles article:nth-child(4n - 2) {
	width: 60%;
}

.tiles article:nth-child(6n - 5):before {
	background-color: #585a70;
}

.tiles article:nth-child(6n - 4):before {
	background-color: #585a70;
}

.tiles article:nth-child(6n - 3):before {
	background-color: #585a70;
}

.tiles article:nth-child(6n - 2):before {
	background-color: #585a70;
}

/*.tiles article:nth-child(6n - 1):before {
				background-color: #8ea9e8;
			}

			.tiles article:nth-child(6n):before {
				background-color: #87c5a4;
			}*/
@media screen and (max-width: 1280px) {
	.tiles article {
		padding: 4em 3em 2em 3em;
		height: 30vh;
		max-height: 30em;
		min-height: 20em;
	}
}

@media screen and (max-width: 980px) {
	.tiles article {
		width: 50% !important;
	}
}

@media screen and (max-width: 736px) {
	.tiles article {
		padding: 3em 1.5em 1em 1.5em;
		height: 16em;
		max-height: none;
		min-height: 0;
	}
	.tiles article h3 {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 480px) {
	.tiles {
		display: block;
	}
	.tiles article {
		height: 20em;
		width: 100% !important;
	}
}

/*# sourceMappingURL=mainmap.css.map */