@import "variables";

/*Global style*/

html {
  scroll-behavior: smooth;
}

* {
  transition: all 0.5s;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $back-black;

    &:hover {
      background-color: $back-black;
    }
  }
}

main, header, footer {
  * {
    font-family: $font;
  }
}

section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.container {
  width: 1410px;

  padding: 0 15px;

  @media (max-width: 1440px) {
    width: 1300px;
  }

  @media (max-width: 1300px) {
    width: 1200px;
  }

  @media (max-width: 1200px) {
    width: 1000px;
  }

  @media (max-width: 992px) {
    width: 768px;
  }

  @media (max-width: 768px) {
    width: 568px;
  }

  @media (max-width: 568px) {
    width: 100%;
  }

  &:before, &:after {
    display: none;
  }
}

.container-full {
  width: 100%;
}

h3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */

  text-transform: uppercase;

  /* text */

  color: $text;

  margin: 0 0 40px 0;

  @media (max-width: 992px) {
    margin: 0 0 15px 0;
    text-align: center;
  }

  @media (max-width: 768px) {
    font-size: 30px;
    line-height: 32px;
  }
}

h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  /* identical to box height, or 26px */

  /* white */

  color: $white;
}

.btn {
  height: 61px;

  padding: 0 32px;

  background: $blue;
  border-radius: 3px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: unset !important;
  /* identical to box height */

  text-transform: uppercase;

  /* white */

  color: $white;

  border: none !important;

  display: flex;
  align-items: center;

  width: fit-content;

  @media (max-width: 768px) {
    height: 40px;
  }

  &:hover {
    text-transform: uppercase !important;
    color: $white;
  }
}


/*Header*/

header {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;

  background-color: $back-black;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 999;

  .container {
    display: flex;
    justify-content: space-between;

    height: 100%;

    .left {
      height: 100%;
      display: flex;
      align-items: center;

      width: 40%;

      @media (max-width: 1440px) {
        width: unset;
      }

      @media (max-width: 992px) {
        display: none;
      }

      .btn {
        height: 43px;
      }

      ul {
        padding: 0;
        margin: 0 18px 0 0;

        @media (max-width: 1200px) {
          display: none;
        }
      }
    }

    .center {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 20%;

      @media (max-width: 1440px) {
        width: unset;
      }

      .logo {
        img {
          width: 300px;

          @media (max-width: 1366px) {
            width: 250px;
          }
        }
      }
    }

    .right {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 40%;

      @media (max-width: 1440px) {
        width: unset;
      }

      & > nav {
        height: 100%;
        @media (max-width: 992px) {
          display: none;
        }

        ul{
          list-style: none;

          display: flex;

          padding: 0;
          margin: 0;

          height: 100%;

          li{
            margin: 0 15px;

            height: 100%;

            display: flex;
            align-items: center;

            position: relative;

            @media (max-width: 1366px) {
              margin: 0 10px;
            }

            a {
              font-style: normal;
              font-weight: bold;
              font-size: 18px;
              line-height: 21px;

              /* white */
              color: $white;

              &:hover {
                color: $blue;
              }
            }


            &:hover {
              .sub-menu {
                display: list-item;
              }
            }

            .sub-menu {
              z-index: 999999;
              padding: 20px 15px 10px 15px;

              position: absolute;
              top: 69px;

              display: none;
              flex-direction: column;

              background-color: white;

              height: auto;

              margin-top: 1px;


              &:hover {
                display: list-item;
              }

              li {
                margin-bottom: 13px;

                a {

                  color: $text;
                }
              }
            }
          }
        }
      }


      .burger-menu {
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;

        margin-right: 20px;

        @media (max-width: 992px) {
          display: flex;
        }

        .burger-menu_button {
          z-index: 20;
          -webkit-transition: 0.4s;
          -o-transition: 0.4s;
          transition: 0.4s;

          height: 25px;
          width: 27px;

          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &:hover {
            .burger-menu_lines {
              -webkit-filter: brightness(0.7);
              filter: brightness(0.7);
            }
          }

          .burger-menu_lines {
            width: 100%;
            height: 2px;
            background-color: $white;
            -webkit-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;

            content: '';
            display: block;

            position: relative;
          }

        }

        ul {
          list-style: none;
          padding-left: 0;

          display: flex;
          flex-direction: column;

          li {
            padding: 5px 35px;

            @media (max-width: 768px) {
              padding: 5px 10px;
            }

            .sub-menu {
              display: block;
            }
          }

          a {
            text-decoration: none;
            letter-spacing: 5px;
            font-size: 18px;
            color: $text;
            border-bottom: 1px solid $text;

            @media (max-width: 568px) {
              font-size: 16px;
            }

            @media (max-width: 400px) {
              font-size: 14px;
            }
          }
        }
      }

      .burger-menu_active {
        .burger-menu_button {
          justify-content: center;

          .burger-menu_lines {

            &:nth-child(2) {
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }

            &:nth-child(1) {
              background-color: transparent;
            }

            &:nth-child(3) {
              -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
              bottom: 2px;
            }
          }
        }
      }

      .burger-menu_nav {
        padding-top: 30px;
        position: fixed;
        top: 0;
        z-index: 20;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        height: 100%;
        background-color: rgb(255, 255, 255);
        overflow-y: auto;
        left: -108%;
        -webkit-transition: 0.8s;
        -o-transition: 0.8s;
        transition: 0.8s;
      }

      .burger-menu_active .burger-menu_nav {
        left: 0;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
      }

      .burger-menu_link:first-child {
        border-top: 1px solid #ff6613;
      }

      .burger-menu_link:hover {
        -webkit-filter: brightness(0.9);
        filter: brightness(0.9);
      }

      .burger-menu_overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;
      }

      .burger-menu_active .burger-menu_overlay {
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }

}


/*Footer*/

footer {
  background: $back-black;

  padding: 80px 0;

  @media (max-width: 992px) {
    padding: 50px 0;
  }

  .top {
    width: 100%;
    display: flex;
    justify-content: center;

    .container {
      display: flex;
      flex-wrap: wrap;

      .column {
        width: 25%;

        display: flex;
        flex-direction: column;

        @media (max-width: 992px) {
          width: 50%;
          margin-bottom: 20px;
        }

        @media (max-width: 468px) {
          width: 100%;
          margin-bottom: 20px;

          align-items: center;
        }

        .logo {
          img {
            width: 198px;
          }
        }

        .img-pay{
          width: 73px;
          height: auto;

          &.master{
            width: 42px;
            margin-left: 10px;
          }

          &.privat{
            width: 144px;
            margin-top: 10px;
          }
        }

        p {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 170%;
          /* identical to box height, or 21px */

          display: flex;
          align-items: center;

          /* white */

          color: $white;

          margin: 0;

          max-width: 250px;

          @media (max-width: 569px) {
            text-align: center;
          }
        }


        .socials {
          display: flex;

          .icon-box {
            width: 40px;
            height: 40px;

            border-radius: 50%;

            /* pink gradient */

            background: $blue;

            display: flex;
            align-items: center;
            justify-content: center;

            margin-right: 20px;

            content: '';

            background-repeat: no-repeat;
            background-position: center;

            padding-top: 3px;

            &:last-child {
              margin-right: 0;
            }

            &.facebook {
              &:before {
                content: url("../img/icon-fb.png");
              }
            }

            &.instagram {
              padding-top: 4px;
              padding-left: 1px;

              &:before {
                content: url("../img/icon-inst.png");
              }
            }
          }
        }
      }
    }
  }

  .bottom {
    margin-top: 80px;

    width: 100%;

    @media (max-width: 992px) {
      margin-top: 20px;
    }

    nav {
      width: 100%;

      display: flex;
      justify-content: center;

      position: relative;

      &:before {
        position: absolute;
        top: 9.5px;
        left: 0;

        height: 1px;
        width: 100%;

        background-color: $white;

        content: '';
      }

      ul {
        width: fit-content;
        background-color: $back-black;
        z-index: 2;

        display: flex;
        list-style: none;

        padding: 0;

        li {
          line-height: 1;
          padding: 0px 20px;
          border-right: 1px solid $white;

          @media (max-width: 568px) {
            padding: 0px 10px;
          }
          @media (max-width: 468px) {
            padding: 0px 5px;
          }

          &:last-child {
            border-right: none;
          }

          a {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            /* identical to box height, or 21px */


            /* white */

            color: $white;

            &:hover {
              color: $blue;
            }
          }

          .sub-menu {
            display: none;
          }
        }
      }
    }
  }
}


/*Map screen*/
.map-screen {
  padding: 110px 0;
  background-color: $white;

  @media (max-width: 992px) {
    padding: 50px 0;
  }

  .container {
    display: flex;
    flex-wrap: wrap;

    h3 {
      text-align: center;
      width: 100%;
    }

    .left {
      width: calc(100% - 850px);

      display: flex;
      flex-direction: column;

      padding-right: 45px;

      @media (max-width: 1300px) {
        width: calc(100% - 650px);
      }
      @media (max-width: 1200px) {
        width: calc(100% - 500px);
      }
      @media (max-width: 992px) {
        width: 100%;
      }

      h4 {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 22px;

        /* blue */

        color: $blue;

        margin-top: 0;
        margin-bottom: 24px;
      }

      p, li {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;

        /* text */

        color: $text;

        margin: 0;
      }

      ul {
        margin-bottom: 20px;

        list-style: none;

        padding: 0;

        li {
          margin-bottom: 15px;
        }
      }

      .btn {
        margin-top: 15px;
      }
    }

    .right {
      width: 850px;

      @media (max-width: 1300px) {
        width: 650px;
      }

      @media (max-width: 1200px) {
        width: 500px;
      }

      @media (max-width: 992px) {
        width: 100%;
        height: 300px;

        margin-top: 20px;
      }
    }
  }
}


/*Modal*/
.modal {
  overflow: unset;
  padding-top: 50px !important;
  max-width: 370px !important;

  h5 {
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    /* identical to box height */

    text-transform: uppercase;

    /* text */

    color: $text;

    margin: 0 0 20px 0;

    text-align: center;

    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 26px;
    }
  }
}


/*About page*/
.about-page-section, .s_portfolio{
  padding-top: 100px;

  h1{
    font-weight: bold!important;
  }
  h2, h3, h1 {
    font-weight: bold!important;
    font-size: 40px!important;
    line-height: 47px;
    /* identical to box height */

    text-transform: uppercase;

    /* text */

    color: $white;

    margin: 30px 0 10px 0;

    text-align: center;

    @media (max-width: 992px) {
      margin: 20px 0 15px 0;
    }

    @media (max-width: 768px) {
      font-size: 30px!important;
      line-height: 32px;
    }
  }

  p{
    font-weight: normal!important;
    line-height: 20px!important;
  }
}

.s_portfolio{
  display: flex;
  justify-content: center;
}

.page-template-template-metal{
  background-color: $back-grey;

  .new-style{
    margin-top: 0;

    h2{
      color: $text;
    }
  }
}

.page-template-template-works{
  .s_portfolio{
    background-color: $back-grey;
  }
}

.jquery-modal {
  z-index: 9999999999;

  .modal{
    position: relative;

    form {
      margin-bottom: 0;

      br {
        display: none;
      }

      p {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        margin-bottom: 0;
      }

      span {
        width: 100%;
        margin-bottom: 20px;
        display: flex;

        input {
          width: 100%;
          height: 40px;

          border-radius: 4px;
          border: 1px solid $back-black;

          color: $text;

          padding: 0 20px;

          &::placeholder {
            color: $back-black!important;
          }


          &:focus, &:active {
            outline: none;

            border: 1px solid $blue;

            &::placeholder {
              color: $blue;
            }
          }

          &.wpcf7-not-valid {
            border: 1px solid red;

            &::placeholder {
              color: red;
            }
          }
        }
      }

      .btn {
        height: 61px;

        padding: 0 32px;

        background: $blue;
        border-radius: 3px;

        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: unset !important;
        /* identical to box height */

        text-transform: uppercase;

        /* white */

        color: $white;

        border: none !important;

        display: flex;
        align-items: center;

        width: fit-content;

        @media (max-width: 768px) {
          height: 40px;
        }

        &:hover {
          text-transform: uppercase !important;
          color: $white;
        }
      }

      .btn {
        height: 40px;
        margin: 0 auto;
        margin-bottom: -20px;

        &:focus, &:active {
          outline: none;
          color: $white !important;
        }
      }
    }

    .wpcf7-not-valid-tip, .wpcf7-response-output {
      display: none !important;
    }
  }
}

.zakaz{
  z-index: 99999999;

  .img-circle{
    background-color: $blue;
    opacity: 1;
  }

  .circle-fill{
    background-color: $blue;
  }

  .circlephone{
    border-color: $blue;
  }
}