/*Global style*/
html {
	scroll-behavior: smooth;
}

* {
	transition: all 0.5s;
}

*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
	background-color: #252525;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #252525;
}

main *, header *, footer * {
	font-family: "Roboto Condensed", sans-serif;
}

section {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.container {
	width: 1410px;
	padding: 0 15px;
}

@media (max-width: 1440px) {
	.container {
		width: 1300px;
	}
}

@media (max-width: 1300px) {
	.container {
		width: 1200px;
	}
}

@media (max-width: 1200px) {
	.container {
		width: 1000px;
	}
}

@media (max-width: 992px) {
	.container {
		width: 768px;
	}
}

@media (max-width: 768px) {
	.container {
		width: 568px;
	}
}

@media (max-width: 568px) {
	.container {
		width: 100%;
	}
}

.container:before, .container:after {
	display: none;
}

.container-full {
	width: 100%;
}

h3 {
	font-weight: bold;
	font-size: 40px;
	line-height: 47px;
	/* identical to box height */
	text-transform: uppercase;
	/* text */
	color: #252525;
	margin: 0 0 40px 0;
}

@media (max-width: 992px) {
	h3 {
		margin: 0 0 15px 0;
		text-align: center;
	}
}

@media (max-width: 768px) {
	h3 {
		font-size: 30px;
		line-height: 32px;
	}
}

h6 {
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 130%;
	/* identical to box height, or 26px */
	/* white */
	color: #fff;
}

.btn {
	height: 61px;
	padding: 0 32px;
	background: #0C679F;
	border-radius: 3px;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: unset !important;
	/* identical to box height */
	text-transform: uppercase;
	/* white */
	color: #fff;
	border: none !important;
	display: flex;
	align-items: center;
	width: fit-content;
}

@media (max-width: 768px) {
	.btn {
		height: 40px;
	}
}

.btn:hover {
	text-transform: uppercase !important;
	color: #fff;
}

/*Header*/
header {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	background-color: #252525;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

header .container {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

header .container .left {
	height: 100%;
	display: flex;
	align-items: center;
	width: 40%;
}

@media (max-width: 1440px) {
	header .container .left {
		width: unset;
	}
}

@media (max-width: 992px) {
	header .container .left {
		display: none;
	}
}

header .container .left .btn {
	height: 43px;
}

header .container .left ul {
	padding: 0;
	margin: 0 18px 0 0;
}

@media (max-width: 1200px) {
	header .container .left ul {
		display: none;
	}
}

header .container .center {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
}

@media (max-width: 1440px) {
	header .container .center {
		width: unset;
	}
}

header .container .center .logo img {
	width: 300px;
}

@media (max-width: 1366px) {
	header .container .center .logo img {
		width: 250px;
	}
}

header .container .right {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 40%;
}

@media (max-width: 1440px) {
	header .container .right {
		width: unset;
	}
}

header .container .right > nav {
	height: 100%;
}

@media (max-width: 992px) {
	header .container .right > nav {
		display: none;
	}
}

header .container .right > nav ul {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	height: 100%;
}

header .container .right > nav ul li {
	margin: 0 15px;
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
}

@media (max-width: 1366px) {
	header .container .right > nav ul li {
		margin: 0 10px;
	}
}

header .container .right > nav ul li a {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	/* white */
	color: #fff;
}

header .container .right > nav ul li a:hover {
	color: #0C679F;
}

header .container .right > nav ul li:hover .sub-menu {
	display: list-item;
}

header .container .right > nav ul li .sub-menu {
	z-index: 999999;
	padding: 20px 15px 10px 15px;
	position: absolute;
	top: 69px;
	display: none;
	flex-direction: column;
	background-color: white;
	height: auto;
	margin-top: 1px;
}

header .container .right > nav ul li .sub-menu:hover {
	display: list-item;
}

header .container .right > nav ul li .sub-menu li {
	margin-bottom: 13px;
}

header .container .right > nav ul li .sub-menu li a {
	color: #252525;
}

header .container .right .burger-menu {
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
}

@media (max-width: 992px) {
	header .container .right .burger-menu {
		display: flex;
	}
}

header .container .right .burger-menu .burger-menu_button {
	z-index: 20;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	height: 25px;
	width: 27px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header .container .right .burger-menu .burger-menu_button:hover .burger-menu_lines {
	-webkit-filter: brightness(0.7);
	filter: brightness(0.7);
}

header .container .right .burger-menu .burger-menu_button .burger-menu_lines {
	width: 100%;
	height: 2px;
	background-color: #fff;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	content: "";
	display: block;
	position: relative;
}

header .container .right .burger-menu ul {
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-direction: column;
}

header .container .right .burger-menu ul li {
	padding: 5px 35px;
}

@media (max-width: 768px) {
	header .container .right .burger-menu ul li {
		padding: 5px 10px;
	}
}

header .container .right .burger-menu ul li .sub-menu {
	display: block;
}

header .container .right .burger-menu ul a {
	text-decoration: none;
	letter-spacing: 5px;
	font-size: 18px;
	color: #252525;
	border-bottom: 1px solid #252525;
}

@media (max-width: 568px) {
	header .container .right .burger-menu ul a {
		font-size: 16px;
	}
}

@media (max-width: 400px) {
	header .container .right .burger-menu ul a {
		font-size: 14px;
	}
}

header .container .right .burger-menu_active .burger-menu_button {
	justify-content: center;
}

header .container .right .burger-menu_active .burger-menu_button .burger-menu_lines:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

header .container .right .burger-menu_active .burger-menu_button .burger-menu_lines:nth-child(1) {
	background-color: transparent;
}

header .container .right .burger-menu_active .burger-menu_button .burger-menu_lines:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	bottom: 2px;
}

header .container .right .burger-menu_nav {
	padding-top: 30px;
	position: fixed;
	top: 0;
	z-index: 20;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	height: 100%;
	background-color: white;
	overflow-y: auto;
	left: -108%;
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

header .container .right .burger-menu_active .burger-menu_nav {
	left: 0;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

header .container .right .burger-menu_link:first-child {
	border-top: 1px solid #ff6613;
}

header .container .right .burger-menu_link:hover {
	-webkit-filter: brightness(0.9);
	filter: brightness(0.9);
}

header .container .right .burger-menu_overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
}

header .container .right .burger-menu_active .burger-menu_overlay {
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
}

/*Footer*/
footer {
	background: #252525;
	padding: 80px 0;
}

@media (max-width: 992px) {
	footer {
		padding: 50px 0;
	}
}

footer .top {
	width: 100%;
	display: flex;
	justify-content: center;
}

footer .top .container {
	display: flex;
	flex-wrap: wrap;
}

footer .top .container .column {
	width: 25%;
	display: flex;
	flex-direction: column;
}

@media (max-width: 992px) {
	footer .top .container .column {
		width: 50%;
		margin-bottom: 20px;
	}
}

@media (max-width: 468px) {
	footer .top .container .column {
		width: 100%;
		margin-bottom: 20px;
		align-items: center;
	}
}

footer .top .container .column .logo img {
	width: 198px;
}

footer .top .container .column .img-pay {
	width: 73px;
	height: auto;
}

footer .top .container .column .img-pay.master {
	width: 42px;
	margin-left: 10px;
}

footer .top .container .column .img-pay.privat {
	width: 144px;
	margin-top: 10px;
}

footer .top .container .column p {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 170%;
	/* identical to box height, or 21px */
	display: flex;
	align-items: center;
	/* white */
	color: #fff;
	margin: 0;
	max-width: 250px;
}

@media (max-width: 569px) {
	footer .top .container .column p {
		text-align: center;
	}
}

footer .top .container .column .socials {
	display: flex;
}

footer .top .container .column .socials .icon-box {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	/* pink gradient */
	background: #0C679F;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
	content: "";
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 3px;
}

footer .top .container .column .socials .icon-box:last-child {
	margin-right: 0;
}

footer .top .container .column .socials .icon-box.facebook:before {
	content: url("../img/icon-fb.png");
}

footer .top .container .column .socials .icon-box.instagram {
	padding-top: 4px;
	padding-left: 1px;
}

footer .top .container .column .socials .icon-box.instagram:before {
	content: url("../img/icon-inst.png");
}

footer .bottom {
	margin-top: 80px;
	width: 100%;
}

@media (max-width: 992px) {
	footer .bottom {
		margin-top: 20px;
	}
}

footer .bottom nav {
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
}

footer .bottom nav:before {
	position: absolute;
	top: 9.5px;
	left: 0;
	height: 1px;
	width: 100%;
	background-color: #fff;
	content: "";
}

footer .bottom nav ul {
	width: fit-content;
	background-color: #252525;
	z-index: 2;
	display: flex;
	list-style: none;
	padding: 0;
}

footer .bottom nav ul li {
	line-height: 1;
	padding: 0px 20px;
	border-right: 1px solid #fff;
}

@media (max-width: 568px) {
	footer .bottom nav ul li {
		padding: 0px 10px;
	}
}

@media (max-width: 468px) {
	footer .bottom nav ul li {
		padding: 0px 5px;
	}
}

footer .bottom nav ul li:last-child {
	border-right: none;
}

footer .bottom nav ul li a {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	/* identical to box height, or 21px */
	/* white */
	color: #fff;
}

footer .bottom nav ul li a:hover {
	color: #0C679F;
}

footer .bottom nav ul li .sub-menu {
	display: none;
}

/*Map screen*/
.map-screen {
	padding: 110px 0;
	background-color: #fff;
}

@media (max-width: 992px) {
	.map-screen {
		padding: 50px 0;
	}
}

.map-screen .container {
	display: flex;
	flex-wrap: wrap;
}

.map-screen .container h3 {
	text-align: center;
	width: 100%;
}

.map-screen .container .left {
	width: calc(100% - 850px);
	display: flex;
	flex-direction: column;
	padding-right: 45px;
}

@media (max-width: 1300px) {
	.map-screen .container .left {
		width: calc(100% - 650px);
	}
}

@media (max-width: 1200px) {
	.map-screen .container .left {
		width: calc(100% - 500px);
	}
}

@media (max-width: 992px) {
	.map-screen .container .left {
		width: 100%;
	}
}

.map-screen .container .left h4 {
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 22px;
	/* blue */
	color: #0C679F;
	margin-top: 0;
	margin-bottom: 24px;
}

.map-screen .container .left p, .map-screen .container .left li {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	/* text */
	color: #252525;
	margin: 0;
}

.map-screen .container .left ul {
	margin-bottom: 20px;
	list-style: none;
	padding: 0;
}

.map-screen .container .left ul li {
	margin-bottom: 15px;
}

.map-screen .container .left .btn {
	margin-top: 15px;
}

.map-screen .container .right {
	width: 850px;
}

@media (max-width: 1300px) {
	.map-screen .container .right {
		width: 650px;
	}
}

@media (max-width: 1200px) {
	.map-screen .container .right {
		width: 500px;
	}
}

@media (max-width: 992px) {
	.map-screen .container .right {
		width: 100%;
		height: 300px;
		margin-top: 20px;
	}
}

/*Modal*/
.modal {
	overflow: unset;
	padding-top: 50px !important;
	max-width: 370px !important;
}

.modal h5 {
	font-weight: bold;
	font-size: 30px;
	line-height: 32px;
	/* identical to box height */
	text-transform: uppercase;
	/* text */
	color: #252525;
	margin: 0 0 20px 0;
	text-align: center;
}

@media (max-width: 768px) {
	.modal h5 {
		font-size: 24px;
		line-height: 26px;
	}
}

/*About page*/
.about-page-section, .s_portfolio {
	padding-top: 100px;
}

.about-page-section h1, .s_portfolio h1 {
	font-weight: bold !important;
}

.about-page-section h2, .about-page-section h3, .about-page-section h1, .s_portfolio h2, .s_portfolio h3, .s_portfolio h1 {
	font-weight: bold !important;
	font-size: 40px !important;
	line-height: 47px;
	/* identical to box height */
	text-transform: uppercase;
	/* text */
	color: #fff;
	margin: 30px 0 10px 0;
	text-align: center;
}

@media (max-width: 992px) {
	.about-page-section h2, .about-page-section h3, .about-page-section h1, .s_portfolio h2, .s_portfolio h3, .s_portfolio h1 {
		margin: 20px 0 15px 0;
	}
}

@media (max-width: 768px) {
	.about-page-section h2, .about-page-section h3, .about-page-section h1, .s_portfolio h2, .s_portfolio h3, .s_portfolio h1 {
		font-size: 30px !important;
		line-height: 32px;
	}
}

.about-page-section p, .s_portfolio p {
	font-weight: normal !important;
	line-height: 20px !important;
}

.s_portfolio {
	display: flex;
	justify-content: center;
}

.page-template-template-metal {
	background-color: #E0E0E2;
}

.page-template-template-metal .new-style {
	margin-top: 0;
}

.page-template-template-metal .new-style h2 {
	color: #252525;
}

.page-template-template-works .s_portfolio {
	background-color: #E0E0E2;
}

.jquery-modal {
	z-index: 9999999999;
}

.jquery-modal .modal {
	position: relative;
}

.jquery-modal .modal form {
	margin-bottom: 0;
}

.jquery-modal .modal form br {
	display: none;
}

.jquery-modal .modal form p {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: 0;
}

.jquery-modal .modal form span {
	margin-bottom: 20px;
	display: flex;
}

.jquery-modal .modal form span input {
	width: 100%;
	height: 40px;
	border-radius: 4px;
	border: 1px solid #252525;
	color: #252525;
	padding: 0 20px;
}

.jquery-modal .modal form span input::placeholder {
	color: #252525 !important;
}

.jquery-modal .modal form span input:focus, .jquery-modal .modal form span input:active {
	outline: none;
	border: 1px solid #0C679F;
}

.jquery-modal .modal form span input:focus::placeholder, .jquery-modal .modal form span input:active::placeholder {
	color: #0C679F;
}

.jquery-modal .modal form span input.wpcf7-not-valid {
	border: 1px solid red;
}

.jquery-modal .modal form span input.wpcf7-not-valid::placeholder {
	color: red;
}

.jquery-modal .modal form .btn {
	height: 61px;
	padding: 0 32px;
	background: #0C679F;
	border-radius: 3px;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: unset !important;
	/* identical to box height */
	text-transform: uppercase;
	/* white */
	color: #fff;
	border: none !important;
	display: flex;
	align-items: center;
	width: fit-content;
}

@media (max-width: 768px) {
	.jquery-modal .modal form .btn {
		height: 40px;
	}
}

.jquery-modal .modal form .btn:hover {
	text-transform: uppercase !important;
	color: #fff;
}

.jquery-modal .modal form .btn {
	height: 40px;
	margin: 0 auto;
	margin-bottom: -20px;
}

.jquery-modal .modal form .btn:focus, .jquery-modal .modal form .btn:active {
	outline: none;
	color: #fff !important;
}

.zakaz {
	z-index: 99999999;
}

.zakaz .img-circle {
	background-color: #0C679F;
	opacity: 1;
}

.zakaz .circle-fill {
	background-color: #0C679F;
}

.zakaz .circlephone {
	border-color: #0C679F;
}

/*# sourceMappingURL=global.css.map */
