@import "variables";

/*First screen*/
.first-screen {
  background-attachment: fixed;
  background-image: url("../img/banner3.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;

  flex-direction: column;
  justify-content: space-between;

  .top {
    padding-top: 70px;
    height: calc(100vh - 220px);

    display: flex;
    align-items: center;

    @media (max-width: 992px) {
      height: calc(100vh - 320px);
    }

    @media (max-width: 568px) {
      height: auto;
      padding-top: 100px;
      padding-bottom: 30px;
    }

    .container {
      .content {
        max-width: 610px;

        h1 {
          font-size: 2em;
          line-height: 1;
          color: #000;
          font-weight: 500;
          margin: 0 0 10px 0;

          @media (max-width: 568px) {
            font-size: 1.8em;
          }
        }

        ul {
          padding: 0;
          margin: 30px 0;
          list-style: none;

          li {
            margin: 0 0 10px 0;
            padding-left: 30px;
            position: relative;
            font-size: 18px;

            &:before {
              position: absolute;
              left: 0;
              content: url("../img/icon-check.svg");
            }
          }
        }
      }
    }
  }

  .bottom {
    padding: 30px 0;
    background: rgba(42, 41, 52, .615);

    .container {
      display: flex;
      flex-wrap: wrap;

      .column {
        width: 25%;

        @media (max-width: 992px) {
          width: 50%;
          margin-bottom: 20px;
        }
        @media (max-width: 568px) {
          width: 100%;
        }


        h4 {
          font-size: 24px;
          color: $white;

          margin: 0 0 15px 0;

          @media (max-width: 568px) {
            font-size: 20px;
            text-align: center;
          }

          span {
            font-size: 42px;

            @media (max-width: 568px) {
              font-size: 36px;
            }
          }
        }

        p {
          font-size: 20px;
          color: $back-grey;
          line-height: 1.2;

          margin: 0;

          @media (max-width: 568px) {
            text-align: center;
            font-size: 16px;
          }
        }
      }
    }
  }
}

/*Second screen*/
.second-screen {
  padding: 130px 0;

  background-color: $white;

  @media (max-width: 992px) {
    padding: 70px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-weight: bold;
      font-size: 40px;
      line-height: 47px;
      /* identical to box height */

      text-transform: uppercase;

      /* text */

      color: $text;

      margin: 0 0 40px 0;

      @media (max-width: 992px) {
        margin: 0 0 15px 0;
        text-align: center;
      }

      @media (max-width: 768px) {
        font-size: 30px;
        line-height: 32px;
      }
    }

    .icons-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .icon-column {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 20px;

        @media (max-width: 992px) {
          width: 50%;
        }

        @media (max-width: 568px) {
          width: 100%;
        }

        .icon-box {
          margin-bottom: 20px;
        }

        &:nth-child(1) {
          .icon-box {
            content: url("../img/icon-sale.svg");
          }
        }

        &:nth-child(2) {
          .icon-box {
            content: url("../img/icon-time.svg");
          }
        }

        &:nth-child(3) {
          .icon-box {
            content: url("../img/icon-pay.svg");
          }
        }

        &:nth-child(4) {
          .icon-box {
            content: url("../img/icon-first.svg");
          }
        }

        p {
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 23px;
          text-align: center;

          /* text */

          color: $text;
        }
      }
    }
  }
}

.page-template-template-fences, .page-template-template-rails, .page-template-template-railings  {
  background-color: $back-black;
  .spotlight {
    padding-top: 10px;
    background: $back-grey !important;

    h3 {
      width: 100%;
      padding: 0;
      font-weight: bold;
      font-size: 40px;
      line-height: 47px;
      /* identical to box height */

      text-transform: uppercase;

      /* text */

      color: $text;

      margin: 0 0 40px 0;

      @media (max-width: 992px) {
        margin: 0 0 15px 0;
        text-align: center;
      }

      @media (max-width: 768px) {
        font-size: 30px;
        line-height: 32px;
      }
    }

    .content {
      background-color: transparent;
      opacity: 1;
      border: none;

      .rows{
        margin: 0;
      }
      .rows > *{
        padding: 0!important;
      }

      .container{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .type-raills p, .type-railings p{
      color: $text;
      margin: 10px 0 30px 0;
    }
  }

  .second-rails-section{
    padding-top: 50px;
  }

  .s_portfolio{
    margin-top: 0;

    display: flex;
    justify-content: center;
  }


}