/*First screen*/
.first-screen {
  background-attachment: fixed;
  background-image: url("../img/banner3.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: space-between;
}
.first-screen .top {
  padding-top: 70px;
  height: calc(100vh - 220px);
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .first-screen .top {
    height: calc(100vh - 320px);
  }
}
@media (max-width: 568px) {
  .first-screen .top {
    height: auto;
    padding-top: 100px;
    padding-bottom: 30px;
  }
}
.first-screen .top .container .content {
  max-width: 610px;
}
.first-screen .top .container .content h1 {
  font-size: 2em;
  line-height: 1;
  color: #000;
  font-weight: 500;
  margin: 0 0 10px 0;
}
@media (max-width: 568px) {
  .first-screen .top .container .content h1 {
    font-size: 1.8em;
  }
}
.first-screen .top .container .content ul {
  padding: 0;
  margin: 30px 0;
  list-style: none;
}
.first-screen .top .container .content ul li {
  margin: 0 0 10px 0;
  padding-left: 30px;
  position: relative;
  font-size: 18px;
}
.first-screen .top .container .content ul li:before {
  position: absolute;
  left: 0;
  content: url("../img/icon-check.svg");
}
.first-screen .bottom {
  padding: 30px 0;
  background: rgba(42, 41, 52, 0.615);
}
.first-screen .bottom .container {
  display: flex;
  flex-wrap: wrap;
}
.first-screen .bottom .container .column {
  width: 25%;
}
@media (max-width: 992px) {
  .first-screen .bottom .container .column {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media (max-width: 568px) {
  .first-screen .bottom .container .column {
    width: 100%;
  }
}
.first-screen .bottom .container .column h4 {
  font-size: 24px;
  color: #fff;
  margin: 0 0 15px 0;
}
@media (max-width: 568px) {
  .first-screen .bottom .container .column h4 {
    font-size: 20px;
    text-align: center;
  }
}
.first-screen .bottom .container .column h4 span {
  font-size: 42px;
}
@media (max-width: 568px) {
  .first-screen .bottom .container .column h4 span {
    font-size: 36px;
  }
}
.first-screen .bottom .container .column p {
  font-size: 20px;
  color: #E0E0E2;
  line-height: 1.2;
  margin: 0;
}
@media (max-width: 568px) {
  .first-screen .bottom .container .column p {
    text-align: center;
    font-size: 16px;
  }
}

/*Second screen*/
.second-screen {
  padding: 130px 0;
  background-color: #fff;
}
@media (max-width: 992px) {
  .second-screen {
    padding: 70px 0;
  }
}
.second-screen .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second-screen .container h3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  text-transform: uppercase;
  /* text */
  color: #252525;
  margin: 0 0 40px 0;
}
@media (max-width: 992px) {
  .second-screen .container h3 {
    margin: 0 0 15px 0;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .second-screen .container h3 {
    font-size: 30px;
    line-height: 32px;
  }
}
.second-screen .container .icons-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.second-screen .container .icons-list .icon-column {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
@media (max-width: 992px) {
  .second-screen .container .icons-list .icon-column {
    width: 50%;
  }
}
@media (max-width: 568px) {
  .second-screen .container .icons-list .icon-column {
    width: 100%;
  }
}
.second-screen .container .icons-list .icon-column .icon-box {
  margin-bottom: 20px;
}
.second-screen .container .icons-list .icon-column:nth-child(1) .icon-box {
  content: url("../img/icon-sale.svg");
}
.second-screen .container .icons-list .icon-column:nth-child(2) .icon-box {
  content: url("../img/icon-time.svg");
}
.second-screen .container .icons-list .icon-column:nth-child(3) .icon-box {
  content: url("../img/icon-pay.svg");
}
.second-screen .container .icons-list .icon-column:nth-child(4) .icon-box {
  content: url("../img/icon-first.svg");
}
.second-screen .container .icons-list .icon-column p {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  /* text */
  color: #252525;
}

.page-template-template-fences, .page-template-template-rails, .page-template-template-railings {
  background-color: #252525;
}
.page-template-template-fences .spotlight, .page-template-template-rails .spotlight, .page-template-template-railings .spotlight {
  padding-top: 10px;
  background: #E0E0E2 !important;
}
.page-template-template-fences .spotlight h3, .page-template-template-rails .spotlight h3, .page-template-template-railings .spotlight h3 {
  width: 100%;
  padding: 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  text-transform: uppercase;
  /* text */
  color: #252525;
  margin: 0 0 40px 0;
}
@media (max-width: 992px) {
  .page-template-template-fences .spotlight h3, .page-template-template-rails .spotlight h3, .page-template-template-railings .spotlight h3 {
    margin: 0 0 15px 0;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .page-template-template-fences .spotlight h3, .page-template-template-rails .spotlight h3, .page-template-template-railings .spotlight h3 {
    font-size: 30px;
    line-height: 32px;
  }
}
.page-template-template-fences .spotlight .content, .page-template-template-rails .spotlight .content, .page-template-template-railings .spotlight .content {
  background-color: transparent;
  opacity: 1;
  border: none;
}
.page-template-template-fences .spotlight .content .rows, .page-template-template-rails .spotlight .content .rows, .page-template-template-railings .spotlight .content .rows {
  margin: 0;
}
.page-template-template-fences .spotlight .content .rows > *, .page-template-template-rails .spotlight .content .rows > *, .page-template-template-railings .spotlight .content .rows > * {
  padding: 0 !important;
}
.page-template-template-fences .spotlight .content .container, .page-template-template-rails .spotlight .content .container, .page-template-template-railings .spotlight .content .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-template-template-fences .spotlight .type-raills p, .page-template-template-fences .spotlight .type-railings p, .page-template-template-rails .spotlight .type-raills p, .page-template-template-rails .spotlight .type-railings p, .page-template-template-railings .spotlight .type-raills p, .page-template-template-railings .spotlight .type-railings p {
  color: #252525;
  margin: 10px 0 30px 0;
}
.page-template-template-fences .second-rails-section, .page-template-template-rails .second-rails-section, .page-template-template-railings .second-rails-section {
  padding-top: 50px;
}
.page-template-template-fences .s_portfolio, .page-template-template-rails .s_portfolio, .page-template-template-railings .s_portfolio {
  margin-top: 0;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=rails.css.map */
