@import "variables";

/*Style for home page*/

/*First screen*/
.first-screen {
  background-attachment: fixed;
  background-image: url("../img/banner3.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;

  min-height: 100vh;

  flex-direction: column;
  justify-content: space-between;

  .top {
    padding-top: 70px;
    height: calc(100vh - 220px);

    display: flex;
    align-items: center;

    @media (max-width: 992px) {
      height: calc(100vh - 320px);
    }

    @media (max-width: 568px) {
      height: auto;
      padding-top: 100px;
      padding-bottom: 30px;
    }

    .container {
      .content {
        max-width: 610px;

        h1 {
          font-size: 2em;
          line-height: 1.3em;
          color: #000;
          font-weight: 500;
          margin: 0 0 10px 0;

          @media (max-width: 568px) {
            font-size: 1.8em;
          }
        }

        ul {
          padding: 0;
          margin: 30px 0;
          list-style: none;

          li {
            margin: 0 0 10px 0;
            padding-left: 30px;
            position: relative;
            font-size: 18px;

            &:before {
              position: absolute;
              left: 0;
              content: url("../img/icon-check.svg");
            }
          }
        }
      }
    }
  }

  .bottom {
    padding: 30px 0;
    background: rgba(42, 41, 52, .615);

    .container {
      display: flex;
      flex-wrap: wrap;

      .column{
        width: 25%;

        @media (max-width: 992px) {
          width: 50%;
          margin-bottom: 20px;
        }
        @media (max-width: 568px) {
          width: 100%;
        }


        h4{
          font-size: 24px;
          color: $white;

          margin: 0 0 15px 0;

          @media (max-width: 568px) {
            font-size: 20px;
            text-align: center;
          }

          span{
            font-size: 42px;

            @media (max-width: 568px) {
              font-size: 36px;
            }
          }
        }

        p{
          font-size: 20px;
          color: $back-grey;
          line-height: 1.2;

          margin: 0;

          @media (max-width: 568px) {
            text-align: center;
            font-size: 16px;
          }
        }
      }
    }
  }
}


/*Second screen*/
.second-screen{
  padding: 130px 0;

  background-color: $white;

  @media (max-width: 992px) {
    padding: 70px 0;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .icons-list{
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .icon-column{
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 20px;

        @media (max-width: 992px) {
          width: 50%;
        }

        @media (max-width: 568px) {
          width: 100%;
        }

        .icon-box{
          margin-bottom: 20px;
        }

        &:nth-child(1){
          .icon-box{
            content: url("../img/icon-sale.svg");
          }
        }
        &:nth-child(2){
          .icon-box{
            content: url("../img/icon-time.svg");
          }
        }
        &:nth-child(3){
          .icon-box{
            content: url("../img/icon-pay.svg");
          }
        }
        &:nth-child(4){
          .icon-box{
            content: url("../img/icon-first.svg");
          }
        }

        p{
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 23px;
          text-align: center;

          /* text */

          color: $text;
        }
      }
    }
  }
}


/*Third screen*/
.third-screen{
  background: $back-grey;
  padding: 100px 0;

  flex-direction: column;

  @media (max-width: 992px) {
    padding: 50px 0;
  }

  .container{
    h3{
      text-align: center;
    }

    .btn{
      margin: 0 auto;
    }
  }
  .container-full{
    margin-bottom: 80px;

    @media (max-width: 992px) {
      margin-bottom: 40px;
    }

    .services-list{
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      a{
        height: 450px;

        text-decoration: none;

        @media (max-width: 1200px) {
          height: 320px;
        }
        @media (max-width: 768px) {
          height: 250px;
        }

        &:nth-child(1){
          width: 35%;

          @media (max-width: 992px) {
            width: 50%;
          }
          @media (max-width: 768px) {
            width: 100%;
          }
        }
        &:nth-child(2){
          width: 65%;

          @media (max-width: 992px) {
            width: 50%;
          }
          @media (max-width: 768px) {
            width: 100%;
          }
        }
        &:nth-child(3){
          width: 65%;

          @media (max-width: 992px) {
            width: 50%;
          }
          @media (max-width: 768px) {
            width: 100%;
          }
        }
        &:nth-child(4){
          width: 35%;

          @media (max-width: 992px) {
            width: 50%;
          }
          @media (max-width: 768px) {
            width: 100%;
          }
        }

        &:hover{
          .content{
            background: rgba(37,37,37, 0.3);

            .btn{
              display: flex;
            }
          }
        }
        .content{
          width: 100%;
          height: 100%;

          padding: 50px 50px 20px 50px;

          display: flex;
          flex-direction: column;
          justify-content: space-between;


          @media (max-width: 768px) {
            padding: 25px 25px 15px 25px;
          }

          h4{
            font-weight: 300;
            font-size: 36px;
            color: $white;

            @media (max-width: 768px) {
              font-size: 26px;
            }

            span{
              font-weight: bold;
            }
          }

          .btn{
            display: none;
          }
        }
      }
    }
  }
}


/*Fourth screen*/
.fourth-screen{
  padding: 130px 0;

  background-color: $white;

  @media (max-width: 992px) {
    padding: 70px 0;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .benefits-list{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 40px;

      .benefit-item{
        display: flex;
        flex-direction: column;
        width: 33.3333%;

        padding-right: 50px;

        @media (max-width: 992px) {
          width: 50%;
          align-items: center;
          margin-bottom: 20px;
        }

        @media (max-width: 568px) {
          width: 100%;
          padding-right: 0;
        }


        h5{
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 23px;
          display: flex;
          align-items: flex-end;
          text-align: center;

          /* blue */

          color: $blue;

          margin: 0 0 16px 0;
        }

        p{
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 21px;

          /* text */

          color: $text;

          margin: 0;

          @media (max-width: 992px) {
            text-align: center;
          }
        }
      }
    }
  }
}


/*Fifth screen*/
.fifth-screen{
  background: $back-grey;
  padding: 100px 0;

  flex-direction: column;

  @media (max-width: 992px) {
    padding: 50px 0;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;

    h3{
      text-align: center;
    }

    .portfolio-list{
      width: calc(100% + 12px);
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 80px;

      @media (max-width: 992px) {
        margin-bottom: 40px;
      }

      .portfolio-item{
        margin: 6px;

        width: calc(33.33333% - 12px);
        height: 250px;

        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @media (max-width: 992px) {
          width: calc(50% - 12px);
        }

        @media (max-width: 568px) {
          width: calc(100% - 12px);
        }

        .popup_content{
          &:before{
            //content: url("../img/lupa.png");
          }
        }
      }
    }
  }
}