/*Style for home page*/
/*First screen*/
.first-screen {
  background-attachment: fixed;
  background-image: url("../img/banner3.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.first-screen .top {
  padding-top: 70px;
  height: calc(100vh - 220px);
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .first-screen .top {
    height: calc(100vh - 320px);
  }
}
@media (max-width: 568px) {
  .first-screen .top {
    height: auto;
    padding-top: 100px;
    padding-bottom: 30px;
  }
}
.first-screen .top .container .content {
  max-width: 610px;
}
.first-screen .top .container .content h1 {
  font-size: 2em;
  line-height: 1.3em;
  color: #000;
  font-weight: 500;
  margin: 0 0 10px 0;
}
@media (max-width: 568px) {
  .first-screen .top .container .content h1 {
    font-size: 1.8em;
  }
}
.first-screen .top .container .content ul {
  padding: 0;
  margin: 30px 0;
  list-style: none;
}
.first-screen .top .container .content ul li {
  margin: 0 0 10px 0;
  padding-left: 30px;
  position: relative;
  font-size: 18px;
}
.first-screen .top .container .content ul li:before {
  position: absolute;
  left: 0;
  content: url("../img/icon-check.svg");
}
.first-screen .bottom {
  padding: 30px 0;
  background: rgba(42, 41, 52, 0.615);
}
.first-screen .bottom .container {
  display: flex;
  flex-wrap: wrap;
}
.first-screen .bottom .container .column {
  width: 25%;
}
@media (max-width: 992px) {
  .first-screen .bottom .container .column {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media (max-width: 568px) {
  .first-screen .bottom .container .column {
    width: 100%;
  }
}
.first-screen .bottom .container .column h4 {
  font-size: 24px;
  color: #fff;
  margin: 0 0 15px 0;
}
@media (max-width: 568px) {
  .first-screen .bottom .container .column h4 {
    font-size: 20px;
    text-align: center;
  }
}
.first-screen .bottom .container .column h4 span {
  font-size: 42px;
}
@media (max-width: 568px) {
  .first-screen .bottom .container .column h4 span {
    font-size: 36px;
  }
}
.first-screen .bottom .container .column p {
  font-size: 20px;
  color: #E0E0E2;
  line-height: 1.2;
  margin: 0;
}
@media (max-width: 568px) {
  .first-screen .bottom .container .column p {
    text-align: center;
    font-size: 16px;
  }
}

/*Second screen*/
.second-screen {
  padding: 130px 0;
  background-color: #fff;
}
@media (max-width: 992px) {
  .second-screen {
    padding: 70px 0;
  }
}
.second-screen .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second-screen .container .icons-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.second-screen .container .icons-list .icon-column {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
@media (max-width: 992px) {
  .second-screen .container .icons-list .icon-column {
    width: 50%;
  }
}
@media (max-width: 568px) {
  .second-screen .container .icons-list .icon-column {
    width: 100%;
  }
}
.second-screen .container .icons-list .icon-column .icon-box {
  margin-bottom: 20px;
}
.second-screen .container .icons-list .icon-column:nth-child(1) .icon-box {
  content: url("../img/icon-sale.svg");
}
.second-screen .container .icons-list .icon-column:nth-child(2) .icon-box {
  content: url("../img/icon-time.svg");
}
.second-screen .container .icons-list .icon-column:nth-child(3) .icon-box {
  content: url("../img/icon-pay.svg");
}
.second-screen .container .icons-list .icon-column:nth-child(4) .icon-box {
  content: url("../img/icon-first.svg");
}
.second-screen .container .icons-list .icon-column p {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  /* text */
  color: #252525;
}

/*Third screen*/
.third-screen {
  background: #E0E0E2;
  padding: 100px 0;
  flex-direction: column;
}
@media (max-width: 992px) {
  .third-screen {
    padding: 50px 0;
  }
}
.third-screen .container h3 {
  text-align: center;
}
.third-screen .container .btn {
  margin: 0 auto;
}
.third-screen .container-full {
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .third-screen .container-full {
    margin-bottom: 40px;
  }
}
.third-screen .container-full .services-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.third-screen .container-full .services-list a {
  height: 450px;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .third-screen .container-full .services-list a {
    height: 320px;
  }
}
@media (max-width: 768px) {
  .third-screen .container-full .services-list a {
    height: 250px;
  }
}
.third-screen .container-full .services-list a:nth-child(1) {
  width: 35%;
}
@media (max-width: 992px) {
  .third-screen .container-full .services-list a:nth-child(1) {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .third-screen .container-full .services-list a:nth-child(1) {
    width: 100%;
  }
}
.third-screen .container-full .services-list a:nth-child(2) {
  width: 65%;
}
@media (max-width: 992px) {
  .third-screen .container-full .services-list a:nth-child(2) {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .third-screen .container-full .services-list a:nth-child(2) {
    width: 100%;
  }
}
.third-screen .container-full .services-list a:nth-child(3) {
  width: 65%;
}
@media (max-width: 992px) {
  .third-screen .container-full .services-list a:nth-child(3) {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .third-screen .container-full .services-list a:nth-child(3) {
    width: 100%;
  }
}
.third-screen .container-full .services-list a:nth-child(4) {
  width: 35%;
}
@media (max-width: 992px) {
  .third-screen .container-full .services-list a:nth-child(4) {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .third-screen .container-full .services-list a:nth-child(4) {
    width: 100%;
  }
}
.third-screen .container-full .services-list a:hover .content {
  background: rgba(37, 37, 37, 0.3);
}
.third-screen .container-full .services-list a:hover .content .btn {
  display: flex;
}
.third-screen .container-full .services-list a .content {
  width: 100%;
  height: 100%;
  padding: 50px 50px 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .third-screen .container-full .services-list a .content {
    padding: 25px 25px 15px 25px;
  }
}
.third-screen .container-full .services-list a .content h4 {
  font-weight: 300;
  font-size: 36px;
  color: #fff;
}
@media (max-width: 768px) {
  .third-screen .container-full .services-list a .content h4 {
    font-size: 26px;
  }
}
.third-screen .container-full .services-list a .content h4 span {
  font-weight: bold;
}
.third-screen .container-full .services-list a .content .btn {
  display: none;
}

/*Fourth screen*/
.fourth-screen {
  padding: 130px 0;
  background-color: #fff;
}
@media (max-width: 992px) {
  .fourth-screen {
    padding: 70px 0;
  }
}
.fourth-screen .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fourth-screen .container .benefits-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}
.fourth-screen .container .benefits-list .benefit-item {
  display: flex;
  flex-direction: column;
  width: 33.3333%;
  padding-right: 50px;
}
@media (max-width: 992px) {
  .fourth-screen .container .benefits-list .benefit-item {
    width: 50%;
    align-items: center;
    margin-bottom: 20px;
  }
}
@media (max-width: 568px) {
  .fourth-screen .container .benefits-list .benefit-item {
    width: 100%;
    padding-right: 0;
  }
}
.fourth-screen .container .benefits-list .benefit-item h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  /* blue */
  color: #0C679F;
  margin: 0 0 16px 0;
}
.fourth-screen .container .benefits-list .benefit-item p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* text */
  color: #252525;
  margin: 0;
}
@media (max-width: 992px) {
  .fourth-screen .container .benefits-list .benefit-item p {
    text-align: center;
  }
}

/*Fifth screen*/
.fifth-screen {
  background: #E0E0E2;
  padding: 100px 0;
  flex-direction: column;
}
@media (max-width: 992px) {
  .fifth-screen {
    padding: 50px 0;
  }
}
.fifth-screen .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fifth-screen .container h3 {
  text-align: center;
}
.fifth-screen .container .portfolio-list {
  width: calc(100% + 12px);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .fifth-screen .container .portfolio-list {
    margin-bottom: 40px;
  }
}
.fifth-screen .container .portfolio-list .portfolio-item {
  margin: 6px;
  width: calc(33.33333% - 12px);
  height: 250px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .fifth-screen .container .portfolio-list .portfolio-item {
    width: calc(50% - 12px);
  }
}
@media (max-width: 568px) {
  .fifth-screen .container .portfolio-list .portfolio-item {
    width: calc(100% - 12px);
  }
}

/*# sourceMappingURL=style.css.map */
