#fullpage .section .content h1 {
	font-weight: 300;
	color: #fff;
	font-size: 1.4em;
	text-transform: uppercase;
}

#fullpage .section .content .first_link h1 {														
	margin-top: 2em;							
}

#fullpage .section .content .main_title h1 {														
	font-size: 7.5em;
    font-weight: 900;						
}

#fullpage .section .content h1 a {
	text-decoration: none;
	font-weight: 500;
}

#fullpage .section .content h1 a span {
	background-color: #4aba4a;
}

	#fullpage .section .content h1 a span:hover {
		background-color: #32a332;
		transition: all .2s ease;
	}

	#fullpage .section .content h1 a span:active {
		background-color: green;
		transition: all .2s ease;
	}
.success-text {
	color: #fff;
}
.home-button a {
	display: inline-block;
    background: #fff;
    color: #444;
    padding: 10px 17px;
    width: 200px;
    text-decoration: none;
    margin-top: 20px;
}
#section0{
	background-size: cover;
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1) ), url(https://img.dometall.com.ua/404.png);
  background-position: center center;
}
