#four_head .main-head .header-content .contact {
	margin-top: 45px;
	padding-left: 10px;
	font-family: 'Roboto Condensed', sans-serif;
}

#four_head .main-head .header-content .contact a {
	text-decoration: none;
	font-weight: 300;
}

#four_head .main-head .header-content .contact p {
	color: #000;
	font-size: 1.2em;
	padding-left: 65px;
}

#four_head .main-head .header-content ul li{
	text-decoration: none;
	padding-bottom: 0.41em;
}

#four_head .main-head .header-content ul li a {
	text-decoration: none;
}

#four_head .main-head .header-content ul li a span {
	background-color: #4aba4a;
	padding: 0.1em;
	line-height: 0.8em;
}

	#four_head .main-head .header-content ul li a span:hover {
		background-color: #32a332;
		transition: all .2s ease;
		font-weight: 300;
	}

	#four_head .main-head .header-content ul li a span:active {
		background-color: green;
		transition: all .2s ease;
	}

#four_head .main-head .header-content .contact a span {
	background-color: #4aba4a;
	padding: 0.1em;
	font-size: 2.5em;
	line-height: 0.8em;
}

	#four_head .main-head .header-content .contact a span:hover {
		background-color: #32a332;
		transition: all .2s ease;
	}

	#four_head .main-head .header-content .contact a span:active {
		background-color: green;
		transition: all .2s ease;
	}

	@media only screen and (max-width: 980px) {
		#four_head .main-head .container .row .header-content{
			padding-top: 2em;
		}

		#four_head .main-head .container .row .header-content h1 {
			display: none;
		}
	}

	@media only screen and (max-width: 767px){
		#four_head .main-head .container .row .header-content{
			padding-top: 0em;
		}

		#four_head .main-head .header-content .contact{
			text-align: center;
			color: #000;
			font-size: 1.2em;
		}

		#four_head .main-head .header-content .contact p{
			padding: 0.5em 0em 0em 0em;
		}

		#four_head .main-head .header-content ul li .fa-check{
			color: #57bb4b;
		}

		#four_head .main-head .header-content ul li{
			text-decoration: none;
			padding-bottom: 1.3em;
			text-align: left;
			line-height: 1.5em;						
		}

		#one .content h2 {
			text-align: left;
		}

		#one .content .container .rows header h3 {
			text-align: left;
			font-size: 1em;
		}

		#one .content .container .rows p {
			text-align: left;
			font-size: 1em;
		}
	}	

	@media only screen and (max-width: 480px){
		#four_head .main-head .header-content .contact {
			text-align: center;
			color: #000;
			font-size: 1.1em;
		}
	}

	@media only screen and (max-width: 320px){
		#four_head .main-head .header-content .contact {
			text-align: left;
			color: #000;
			padding: 0em;	
		}
	}