		/*
		* 
		h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
		}
		
		
		.section{
		text-align:center;
		}
		
		
		.section{
		background-size: cover;
		}
		.slide{
		background-size: cover;
		}*/
		
		#section0 .text-slide p{
		font-size: 1.3em;
		margin: 4em 0em 0 2em;
		padding-top: 7em;
		text-align: left;
		}
		
		#section1 .text-slide p{
		font-size: 1.3em;
		margin: 4em 0 0 2em;
		padding-top: 7em;
		text-align: left;
		}
		
		#section2 .text-slide p{
			font-size: 1.3em;
			margin: 4em 0 0 2em;
			padding-top: 7em;
			text-align: left;
			}
		/*
		img {
		display: inline-block;
		height: auto;
		max-width: 80%;
		margin: 4em 0 0 0;
		}
		
		/*
		
		#section0{
		background-image: url(imgs/bg1.jpg);
		}
		#section0 h1{
		top: 50%;
		transform: translateY(-50%);
		position: relative;
		}
		#section2{
		background-image: url();
		padding: 6% 0 0 0;
		}
		#section3{
		background-image: url();
		padding: 6% 0 0 0;
		}
		#section3 h1{
		color: #000;
		} 
		#slide1{
		background-image: url();
		padding: 6% 0 0 0;
		}
		*/
		
		/* Style for our header texts
		* --------------------------------------- s
		h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
		}
		
		/* Centered texts in each section
		* --------------------------------------- */
		.section{
		text-align:center;
		}
		
		
		/* Backgrounds will cover all the section
		* --------------------------------------- */
		.section{
		background-size: cover;
		}
		.slide{
		background-size: cover;
		}
		
		/* Defining each section background and styles
		* --------------------------------------- */
		#section0{
		background-image: linear-gradient( rgb(0, 0, 0), rgba(0, 0, 0, 0.15) ), url(https://img.dometall.com.ua/pool.jpg);
		background-position: center center;
		
		}
		/*#section0 h1{
		top: 50%;
		transform: translateY(-50%);
		position: relative;
		}*/
		#section1{
		background-image: linear-gradient( rgb(0, 0, 0), rgba(0, 0, 0, 0.15) ), url(https://img.dometall.com.ua/pool2.jpg);
		background-position: center center;
		}
		
		#section2{
		background-image: url(https://img.dometall.com.ua/banner.png);   
		background-position: center center;
		}
		
		#section3{
		background-image: url(https://img.dometall.com.ua/bg4.jpg);
		
		}
		#section3 h1{
		color: #000;
		}
		
		/*Adding background for the slides
		* ---------------------------------------
		#slide1{
		background-image: url(imgs/bg2.jpg);
		padding: 6% 0 0 0;
		}
		#slide2{
		background-image: url(imgs/bg5.jpg);
		padding: 6% 0 0 0;
		}
		
		
		/* Bottom menu
		* ---------------------------------------
		#infoMenu li a {
		color: #fff;
		} */