
.s_portfolio {
	margin-bottom: 0px;
}

.s_portfolio .mix {
	border: #fff 1px solid;
}

.s_portfolio ul {
	list-style-type: none;
	padding: 0;
	margin: 45px 0 45px 0;
	text-align: center;
	color: #000;
}

.s_portfolio li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	text-align: center;
	margin: 0 10px;
	text-transform: uppercase;
	cursor: pointer;
	line-height: 1.2;
}

.s_portfolio li.active{
	color: #72737B;
	border-bottom: 0.8px solid #4CA333;
}

.s_portfolio .portfolio_item {
	color: #000;
}

.portfolio_item{
	display: none;
	padding: 0;
}

.s_portfolio .portfolio_item img{
	width: 100%;
	text-align: center;

	max-height: 250px;
	object-fit: cover;
}
.s_portfolio .portfolio_item .port_item_cont{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.25);
	text-align: center;
	padding-top: 0;
	opacity: 0;
	transition: all .25s;
}

.s_portfolio .portfolio_item .port_item_cont:hover{
	opacity: 1;
}

.s_portfolio .portfolio_item .port_item_cont a {

}

.s_portfolio .portfolio_item .port_item_cont a:hover {

}

.podrt_descr {
	max-width: 920px;
	margin: auto;
}

.podrt_descr img{
	width: 100%;
	margin-top: 20px;
}

.podrt_descr p{
	padding: 20px;
	padding-bottom: 0;
	color: #000000;
}

.modal-box-content{
	position: relative;
}

.modal-box-content button.mfp-close{
	color: #fff;
	padding: 20px 10px 0px 0px;
}
#portfolio.s_portfolio .portfolio_item img {
	    height: 220px;
	    object-fit: cover;
}
#portfolio.s_portfolio .portfolio_item .popup_content img{
	height: auto;
}
@media only screen and (max-width: 320px){
	.s_portfolio li {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: inline-block;
		text-align: center;
		margin: 0 3.5px;
		text-transform: uppercase;
		cursor: pointer;
		line-height: 1;
		font-size: 11px;
	}
}

@media only screen and (max-width: 375px){
	.s_portfolio li {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: inline-block;
		text-align: center;
		margin: 0 3px;
		text-transform: uppercase;
		cursor: pointer;
		line-height: 1;
		font-size: 12px;
	}
}