@font-face {
  font-family: 'OpenGostTypeATT';
  src: url("../fonts/OpenGostTypeATT.woff2") format("woff2"), url("../fonts/OpenGostTypeATT.woff") format("woff"), url("../fonts/OpenGostTypeATT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  position: relative; }

.map {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
  .map__wrap {
    height: 145%;
    width: 100%;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; }
  .map__mask {
    height: 100%;
    width: 100%;
    background: url(../images/map-mask.svg) top center no-repeat;
    background-size: cover;
    pointer-events: none;
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    z-index: 2; }

.popup-info-substrate, .marker-info__bg-wrap, .poi-info-window::before {
  width: calc(100% + 60px);
  height: calc(100% + 25px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden; }

.marker-content {
  display: none; }

.marker-info {
  padding: 17px 0; }
  .marker-info__bg {
    display: block;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
    width: 300%;
    height: 300%;
    background: -webkit-linear-gradient(135deg, #EAEAE9 6.25%, #F2F2F2 6.25%, #E91E63 12.5%, #9C27B0 12.5%, #9C27B0 18.75%, #673AB7 18.75%, #673AB7 25%, #3F51B5 25%, #3F51B5 31.25%, #2196F3 31.25%, #2196F3 37.5%, #03A9F4 37.5%, #03A9F4 43.75%, #00BCD4 43.75%, #00BCD4 50%, #009688 50%, #009688 56.25%, #4CAF50 56.25%, #4CAF50 62.5%, #8BC34A 62.5%, #8BC34A 68.75%, #CDDC39 68.75%, #CDDC39 75%, #FFEB3B 75%, #FFEB3B 81.25%, #FFC107 81.25%, #FFC107 87.5%, #FF9800 87.5%, #FF9800 93.75%, #FF5722 93.75%, #FF5722 100%);
    background: linear-gradient(-45deg, #F44336 6.25%, #E91E63 6.25%, #E91E63 12.5%, #9C27B0 12.5%, #9C27B0 18.75%, #673AB7 18.75%, #673AB7 25%, #3F51B5 25%, #3F51B5 31.25%, #2196F3 31.25%, #2196F3 37.5%, #03A9F4 37.5%, #03A9F4 43.75%, #00BCD4 43.75%, #00BCD4 50%, #009688 50%, #009688 56.25%, #4CAF50 56.25%, #4CAF50 62.5%, #8BC34A 62.5%, #8BC34A 68.75%, #CDDC39 68.75%, #CDDC39 75%, #FFEB3B 75%, #FFEB3B 81.25%, #FFC107 81.25%, #FFC107 87.5%, #FF9800 87.5%, #FF9800 93.75%, #FF5722 93.75%, #FF5722 100%);
	 
		background:#BFBFBF;
		-webkit-animation: animatedBackground 10s linear infinite;
            animation: animatedBackground 10s linear infinite;
		background-size: 50%; 
		box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.3);
	}
		

@-webkit-keyframes animatedBackground {
  0% {
    background-position-x: 0; }
  100% {
    background-position-x: 100%; } }

@keyframes animatedBackground {
  0% {
    background-position-x: 0; }
  100% {
    background-position-x: 100%; } }
  .marker-info__dash-wrap {
    height: 100px;
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    top: -109px;
    bottom: auto; }
  .marker-info__rb-dash {
    background: url("../images/rb-dash.png") top center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; }
  .marker-info__text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: #000;
    display: block;
    text-align: center;
    line-height: 1.2;
    padding: 10px;
    background: #BFBFBF;
		z-index: 5; }
		.marker-info__text span a{
			font-weight: 900;
			color: #000;
		}
		
.poi-info-window {
	padding: 20px;
	border: 2px solid black;
  margin-top: 0 !important; }
  .poi-info-window::before {
    content: '';
    background: -webkit-linear-gradient(135deg, #EAEAE9 6.25%, #F2F2F2 6.25%, #E91E63 12.5%, #9C27B0 12.5%, #9C27B0 18.75%, #673AB7 18.75%, #673AB7 25%, #3F51B5 25%, #3F51B5 31.25%, #2196F3 31.25%, #2196F3 37.5%, #03A9F4 37.5%, #03A9F4 43.75%, #00BCD4 43.75%, #00BCD4 50%, #009688 50%, #009688 56.25%, #4CAF50 56.25%, #4CAF50 62.5%, #8BC34A 62.5%, #8BC34A 68.75%, #CDDC39 68.75%, #CDDC39 75%, #FFEB3B 75%, #FFEB3B 81.25%, #FFC107 81.25%, #FFC107 87.5%, #FF9800 87.5%, #FF9800 93.75%, #FF5722 93.75%, #FF5722 100%);
    background: linear-gradient(-45deg, #F44336 6.25%, #E91E63 6.25%, #E91E63 12.5%, #9C27B0 12.5%, #9C27B0 18.75%, #673AB7 18.75%, #673AB7 25%, #3F51B5 25%, #3F51B5 31.25%, #2196F3 31.25%, #2196F3 37.5%, #03A9F4 37.5%, #03A9F4 43.75%, #00BCD4 43.75%, #00BCD4 50%, #009688 50%, #009688 56.25%, #4CAF50 56.25%, #4CAF50 62.5%, #8BC34A 62.5%, #8BC34A 68.75%, #CDDC39 68.75%, #CDDC39 75%, #FFEB3B 75%, #FFEB3B 81.25%, #FFC107 81.25%, #FFC107 87.5%, #FF9800 87.5%, #FF9800 93.75%, #FF5722 93.75%, #FF5722 100%);
	 
	 background: #bfbfbf;
	 z-index: 1; 
	 
		}
  .poi-info-window::after {
    content: '';
    width: 100%;
    height: calc(100% - 28px);
    background: green;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2; }
  .poi-info-window div, .poi-info-window a {
    background-color: transparent !important;
    color: #fff !important;
    z-index: 3; }

.gm-style-iw {
  background: red;
  overflow: visible !important; }
  .gm-style-iw::after {
    content: '';
    width: 0;
    height: 0;
    border: 22px solid transparent;
    border-top-color: #bfbfbf;
    z-index: 4;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    top: auto;
    bottom: -53px;
    margin: auto; }
  .gm-style-iw div {
    overflow: visible !important; }
  .gm-style-iw > div {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .gm-style-iw + div {
    height: 20px !important;
    width: 20px !important;
    margin-top: 20px;
    margin-right: 20px;
    opacity: 1 !important;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease; }
    .gm-style-iw + div:hover {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); }
    .gm-style-iw + div img {
      display: none; }
    .gm-style-iw + div::before, .gm-style-iw + div::after {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      border-radius: 5px;
      background: #fff; }
    .gm-style-iw + div::before {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);}
    .gm-style-iw + div::after {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }

.gm-style-mtc > div,
.gmnoprint > div,
.gm-svpc {
  background-color: yellow !important; }
